.tableContainer {
  min-height: 490px;
  background: #fff;
  border-radius: 6px;

  @media (width < 1400px) {
    overflow-x: auto;
  }

  .rowModal {
    position: absolute;
    background: #fff;
    bottom: -85px;
    left: -95px;
    box-shadow: 0px 7px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 1.5rem;
    z-index: 2;

    &.latestModals {
      bottom: 15px;
    }

    button {
      color: $colorGrayLight;
      background: none;
      border: none;
      width: 100%;
      text-align: left;
    }
  }

  table {
    border: none;
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      padding: 1rem;
      text-align: left;
      min-width: 150px;
    }

    .evenRow {
      background: #fff;
    }

    thead tr {
      font-weight: bold;
      color: $colorGrayLight;

      th:first-child {
        padding-left: 3rem;
      }

      th:last-child {
        padding-right: 3rem;
      }
    }

    thead,
    .oddRow {
      background: #f7fafc;
    }

    .redRow {
      background: #fef6f7;
    }

    .movementNumber {
      color: #2b80ff;
      font-weight: bold;
    }

    .textCenter {
      text-align: center;
      display: flex;
      justify-content: center;
    }

    td {
      color: #172b4d;

      &:first-child {
        font-size: $sizeS;
        padding-left: 3rem;
      }

      &:last-child {
        padding-right: 3rem;
      }
    }

    .tdButton {
      position: relative;
      > button {
        background: $colorBlueAccent;
        color: #fff;
        font-weight: bold;
        border: none;
        min-height: 2.5rem;
        min-width: 2.5rem;
        max-height: 2.5rem;
        max-width: 2.5rem;
        border-radius: 3px;
        display: grid;
        place-items: center;
      }
    }

    .status {
      max-width: max-content;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-size: $sizeS;

      div {
        width: 6px;
        height: 6px;
        border-radius: 100%;
      }

      &.pending {
        background: #ffd9d9;
        color: #ef4444;

        div {
          background: #ef4444;
        }
      }

      &.paid {
        background: #e0ecec;
        color: #289484;

        div {
          background: #289484;
        }
      }

      &.reverted {
        background: #e1eefa;
        color: #3f88cb;

        div {
          background: #3f88cb;
        }
      }

      &.uncompleted {
        background: #fff1c3;
        color: #ebb208;

        div {
          background: #ebb208;
        }
      }
    }

    .redBalance {
      color: $colorRed;
      font-weight: bold;
    }
  }
}
