$colorBg: #f1f5f9;

$colorBluePrimary: #3f88cb;
$colorBlueAccent: #168eea;

$colorRed: #fb516d;
$colorYellow: #cddc01;
$colorPurple: #562f7f;
$colorViolet: #562eff;

$colorWhite: #fff6f6;
$colorBlack: #262626;

$colorGrayLight: #8a8f9c;
$colorGrayMedium: #59626a;
$colorGrayDark: #51626e;
