.cuenta {
  background-color: #eff5ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cuenta .div {
  background-color: #eff5ff;
  height: 1650px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.cuenta .overlap {
  height: 420px;
  left: 299px;
  position: absolute;
  top: -2px;
  width: 1621px;
}

.cuenta .rectangle {
  height: 175px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 245px;
  width: 1479px;
}

.cuenta .text-wrapper {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 811px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 356px;
  white-space: nowrap;
}

.cuenta .text-wrapper-2 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1111px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 356px;
  white-space: nowrap;
}

.cuenta .text-wrapper-3 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 811px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 279px;
  white-space: nowrap;
}

.cuenta .text-wrapper-4 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1111px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 279px;
  white-space: nowrap;
}

.cuenta .text-wrapper-5 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 811px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 319px;
  white-space: nowrap;
}

.cuenta .text-wrapper-6 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1111px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 319px;
  white-space: nowrap;
}

.cuenta .grupo {
  height: 19px;
  left: 1307px;
  position: absolute;
  top: 142px;
  width: 206px;
}

.cuenta .text-wrapper-7 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
}

.cuenta .text-wrapper-8 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 92px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
}

.cuenta .chevron-right {
  height: 12px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 7px;
}

.cuenta .overlap-wrapper {
  height: 298px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1621px;
}

.cuenta .overlap-group {
  height: 298px;
  position: relative;
}

.cuenta .rectngulo {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000008;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1621px;
}

.cuenta .componente {
  height: 45px;
  left: 1321px;
  position: absolute;
  top: 28px;
  width: 45px;
}

.cuenta .sun-wrapper {
  height: 45px;
}

.cuenta .sun {
  height: 20px;
  left: 13px;
  position: relative;
  top: 13px;
  width: 20px;
}

.cuenta .overlap-group-2 {
  height: 17px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 17px;
}

.cuenta .elipse {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 4px;
  height: 10px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 10px;
}

.cuenta .trazado {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.cuenta .img {
  height: 4px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 4px;
}

.cuenta .trazado-2 {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 4px;
}

.cuenta .trazado-3 {
  height: 4px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.cuenta .trazado-4 {
  height: 4px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 2px;
}

.cuenta .trazado-5 {
  height: 4px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 2px;
}

.cuenta .trazado-6 {
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 4px;
}

.cuenta .trazado-7 {
  height: 2px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 4px;
}

.cuenta .grupo-wrapper {
  height: 45px;
  left: 1391px;
  position: absolute;
  top: 28px;
  width: 45px;
}

.cuenta .grupo-2 {
  height: 45px;
  position: relative;
}

.cuenta .oval {
  height: 6px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 6px;
}

.cuenta .bell-ring {
  height: 20px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.cuenta .overlap-group-3 {
  height: 17px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 22px;
}

.cuenta .trazado-8 {
  height: 17px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 20px;
}

.cuenta .trazado-9 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.cuenta .trazado-10 {
  height: 8px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.cuenta .trazado-11 {
  height: 3px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 6px;
}

.cuenta .empresa-fiber {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  left: 35px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.cuenta .span {
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
}

.cuenta .text-wrapper-9 {
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
}

.cuenta .chevron-right-2 {
  height: 7px;
  left: 194px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 12px;
}

.cuenta .div-wrapper {
  height: 274px;
  left: 1218px;
  position: absolute;
  top: 24px;
  width: 302px;
}

.cuenta .grupo-3 {
  background-color: #eff6ff;
  background-image: url(../../../static/img/enmascarar-grupo-2-1.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px;
  height: 48px;
  left: 251px;
  position: relative;
  width: 48px;
}

.cuenta .componente-2 {
  height: 152px;
  left: 1250px;
  position: absolute;
  top: 27px;
  width: 144px;
}

.cuenta .rectngulo-wrapper {
  height: 152px;
  position: relative;
}

.cuenta .rectngulo-2 {
  border-radius: 2px;
  height: 32px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 32px;
}

.cuenta .text-wrapper-10 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 143px;
  white-space: nowrap;
}

.cuenta .text-wrapper-11 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 466px;
  left: 252px;
  white-space: nowrap;
}

.cuenta .p {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 65px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 358px;
  white-space: nowrap;
}

.cuenta .text-wrapper-12 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 32px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 187px;
  white-space: nowrap;
}

.cuenta .text-wrapper-13 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 65px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 396px!important;
  white-space: nowrap;
}

.cuenta .text-wrapper-14 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 35px;
  font-weight: 600;
  left: 65px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  top: 317px;
  white-space: nowrap;
}

.cuenta .overlap-2 {
  height: 1650px;
  left: -6px;
  position: absolute;
  top: 0;
  width: 305px;
}

.cuenta .rectangle-2 {
  height: 1650px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 299px;
}

.cuenta .rectangle-3 {
  background-color: #dbdbdb;
  height: 1080px;
  left: 304px;
  position: absolute;
  top: 0;
  width: 1px;
}

.cuenta .logo-placeholder {
  height: 118px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 169px;
}

.cuenta .componente-3 {
  height: 323px;
  left: 23px;
  position: absolute;
  top: 144px;
  width: 262px;
}

.cuenta .overlap-3 {

  background-position: 50% 50%;
  background-size: cover;
  height: 50px;
  left: 0;
  position: absolute;
  top: 41px;
  width: 262px;
}

.cuenta .text-wrapper-15 {
  color: #3f88cb;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.cuenta .layout-dashboard {
  height: 18px;
  left: 19px;
  position: absolute;
  top: 16px;
  width: 18px;
}

.cuenta .rectngulo-3 {
  border: 2px solid;
  border-color: #3f88cb;
  border-radius: 1px;
  height: 11px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 9px;
}

.cuenta .rectngulo-4 {
  border: 2px solid;
  border-color: #3f88cb;
  border-radius: 1px;
  height: 7px;
  left: 10px;
  position: absolute;
  top: -1px;
  width: 9px;
}

.cuenta .rectngulo-5 {
  border: 2px solid;
  border-color: #3f88cb;
  border-radius: 1px;
  height: 11px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 9px;
}

.cuenta .rectngulo-6 {
  border: 2px solid;
  border-color: #3f88cb;
  border-radius: 1px;
  height: 7px;
  left: -1px;
  position: absolute;
  top: 12px;
  width: 9px;
}

.cuenta .text-wrapper-16 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 129px;
  white-space: nowrap;
}

.cuenta .text-wrapper-17 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 200px;
  white-space: nowrap;
}

.cuenta .text-wrapper-18 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 6px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.cuenta .chevron-right-3 {
  height: 12px;
  left: 226px;
  object-fit: cover;
  position: absolute;
  top: 203px;
  width: 7px;
}

.cuenta .chevron-right-4 {
  height: 12px;
  left: 226px;
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 7px;
}

.cuenta .wallet {
  height: 18px;
  left: 19px;
  position: absolute;
  top: 129px;
  width: 19px;
}

.cuenta .overlap-group-4 {
  height: 20px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 21px;
}

.cuenta .trazado-12 {
  height: 15px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 21px;
}

.cuenta .trazado-13 {
  height: 18px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 20px;
}

.cuenta .overlap-4 {
  height: 21px;
  left: 19px;
  position: absolute;
  top: 195px;
  width: 18px;
}

.cuenta .square-user-round {
  height: 18px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 18px;
}

.cuenta .overlap-5 {
  border-radius: 2px;
  height: 20px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 20px;
}

.cuenta .trazado-14 {
  height: 8px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 14px;
}

.cuenta .elipse-2 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 4px;
  height: 10px;
  left: 5px;
  position: absolute;
  top: 4px;
  width: 10px;
}

.cuenta .rectngulo-7 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 2px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.cuenta .oval-2 {
  height: 4px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.cuenta .oval-3 {
  height: 4px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 313px;
  width: 4px;
}

.cuenta .overlap-6 {
  height: 1077px;
  left: 331px;
  position: absolute;
  top: 453px;
  width: 4462px;
}

.cuenta .rectangle-4 {
  height: 1077px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1479px;
}

.cuenta .text-wrapper-19 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 33px;
  white-space: nowrap;
}

.cuenta .grupo-4 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 33px;
  position: absolute;
  top: 110px;
  width: 290px;
}

.cuenta .text-wrapper-20 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.cuenta .text-wrapper-21 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 34px;
  left: 33px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 67px;
  width: 314px;
}

.cuenta .componente-4 {
  height: 851px;
  left: 0;
  position: absolute;
  top: 107px;
  width: 4462px;
}

.cuenta .grupo-5 {
  height: 763px;
  left: 0;
  position: absolute;
  top: 88px;
  width: 4462px;
}

.cuenta .grupo-6 {
  height: 756px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 1480px;
}

.cuenta .overlap-7 {
  background-color: #fff6f6;
  height: 70px;
  left: 0;
  position: absolute;
  top: 55px;
  width: 1480px;
}

.cuenta .text-wrapper-22 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 44px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.cuenta .text-wrapper-23 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 873px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.cuenta .text-wrapper-24 {
  color: #fb516d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1234px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.cuenta .text-wrapper-25 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 246px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 29px;
  white-space: nowrap;
}

.cuenta .text-wrapper-26 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 442px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 29px;
  white-space: nowrap;
}

.cuenta .overlap-group-5 {
  background-color: #ffffff;
  height: 70px;
  left: 0;
  position: absolute;
  top: 335px;
  width: 1480px;
}

.cuenta .text-wrapper-27 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1038px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.cuenta .text-wrapper-28 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1234px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.cuenta .text-wrapper-29 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 246px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.cuenta .text-wrapper-30 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 442px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.cuenta .overlap-8 {
  background-color: #fff6f6;
  height: 70px;
  left: 0;
  position: absolute;
  top: 476px;
  width: 1480px;
}

.cuenta .text-wrapper-31 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 44px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta .text-wrapper-32 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 873px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta .text-wrapper-33 {
  color: #fb516d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1234px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta .overlap-9 {
  background-color: #ffffff;
  height: 70px;
  left: 0;
  position: absolute;
  top: 616px;
  width: 1480px;
}

.cuenta .text-wrapper-34 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1038px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta .text-wrapper-35 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1234px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta .overlap-10 {
  background-color: #f7fafc;
  height: 70px;
  left: 0;
  position: absolute;
  top: 125px;
  width: 1480px;
}

.cuenta .text-wrapper-36 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 43px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta .text-wrapper-37 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1038px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
}

.cuenta .text-wrapper-38 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1234px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
}

.cuenta .text-wrapper-39 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 246px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta .text-wrapper-40 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 442px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta .overlap-11 {
  background-color: #fff6f6;
  height: 70px;
  left: 0;
  position: absolute;
  top: 406px;
  width: 1480px;
}

.cuenta .text-wrapper-41 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 873px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 29px;
  white-space: nowrap;
}

.cuenta .text-wrapper-42 {
  color: #fb516d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1234px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 29px;
  white-space: nowrap;
}

.cuenta .overlap-12 {
  background-color: #f7fafc;
  height: 70px;
  left: 0;
  position: absolute;
  top: 546px;
  width: 1480px;
}

.cuenta .text-wrapper-43 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1038px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.cuenta .text-wrapper-44 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1234px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.cuenta .text-wrapper-45 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 246px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.cuenta .text-wrapper-46 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 442px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.cuenta .overlap-13 {
  background-color: #fff6f6;
  height: 70px;
  left: 0;
  position: absolute;
  top: 686px;
  width: 1480px;
}

.cuenta .text-wrapper-47 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 873px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.cuenta .text-wrapper-48 {
  color: #fb516d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1234px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.cuenta .overlap-14 {
  background-color: #fff6f6;
  height: 70px;
  left: 0;
  position: absolute;
  top: 195px;
  width: 1480px;
}

.cuenta .text-wrapper-49 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 246px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.cuenta .text-wrapper-50 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 442px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.cuenta .overlap-15 {
  background-color: #f7fafc;
  height: 70px;
  left: 0;
  position: absolute;
  top: 265px;
  width: 1480px;
}

.cuenta .text-wrapper-51 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1038px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.cuenta .text-wrapper-52 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1234px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.cuenta .overlap-16 {
  background-color: #f1f5f9;
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1480px;
}

.cuenta .text-wrapper-53 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 238px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta .text-wrapper-54 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 441px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta .text-wrapper-55 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 873px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta .text-wrapper-56 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1039px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta .saldo {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1235px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta .text-wrapper-57 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 43px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.cuenta .grupo-7 {
  background-image: url(../../../static/img/rectangle-22.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 4249px;
  position: absolute;
  top: 74px;
  width: 108px;
}

.cuenta .text-wrapper-58 {
  color: #ef4444;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.cuenta .oval-4 {
  height: 6px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 6px;
}

.cuenta .grupo-8 {
  height: 48px;
  left: 1079px;
  position: absolute;
  top: 0;
  width: 347px;
}

.cuenta .grupo-9 {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 109px;
}

.cuenta .text-wrapper-59 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 25px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.cuenta .grupo-10 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 119px;
  position: absolute;
  top: 0;
  width: 109px;
}

.cuenta .text-wrapper-60 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.cuenta .grupo-11 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 238px;
  position: absolute;
  top: 0;
  width: 109px;
}

.cuenta .text-wrapper-61 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.cuenta .text-wrapper-62 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 34px;
  left: 40px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 1003px;
  width: 230px;
}

.cuenta .next {
  height: 32px;
  left: 1081px;
  position: absolute;
  top: 1000px;
  width: 280px;
}

.cuenta .element-wrapper {
  background-image: url(../../../static/img/rectangle-2-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 32px;
  left: 123px;
  position: absolute;
  top: 0;
  width: 32px;
}

.cuenta .element {
  background-image: url(../../../static/img/trazado-6955.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 13px;
  position: relative;
  top: 11px;
  width: 7px;
}

.cuenta .overlap-17 {
  background-image: url(../../../static/img/grupo-476.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 32px;
  left: 163px;
  position: absolute;
  top: 0;
  width: 32px;
}

.cuenta .element-2 {
  background-image: url(../../../static/img/trazado-6957.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 13px;
  position: relative;
  top: 11px;
  width: 7px;
}

.cuenta .overlap-18 {
  background-image: url(../../../static/img/grupo-477.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 75px;
}

.cuenta .prev {
  background-image: url(../../../static/img/trazado-6954.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 34px;
  position: absolute;
  top: 11px;
  width: 28px;
}

.cuenta .frame {
  height: 16px;
  left: 13px;
  position: absolute;
  top: 8px;
  transform: rotate(180deg);
  width: 16px;
}

.cuenta .overlap-19 {
  height: 16px;
  position: relative;
}

.cuenta .frame-2 {
  height: 16px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 16px;
}

.cuenta .group {
  height: 8px;
  left: 6px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.cuenta .overlap-group-6 {
  height: 9px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 5px;
}

.cuenta .line {
  height: 5px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 5px;
}

.cuenta .line-2 {
  height: 5px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  transform: rotate(-180deg);
  width: 5px;
}

.cuenta .overlap-20 {
  background-image: url(../../../static/img/grupo-478.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 32px;
  left: 83px;
  position: absolute;
  top: 0;
  width: 32px;
}

.cuenta .element-3 {
  background-image: url(../../../static/img/trazado-6956.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 14px;
  position: relative;
  top: 11px;
  width: 3px;
}

.cuenta .overlap-21 {
  background-image: url(../../../static/img/grupo-479.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 32px;
  left: 203px;
  position: absolute;
  top: 0;
  width: 77px;
}

.cuenta .next-2 {
  background-image: url(../../../static/img/trazado-6958.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 14px;
  position: absolute;
  top: 11px;
  width: 29px;
}

.cuenta .frame-copy {
  background-image: url(../../../static/img/frame-copy.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  left: 48px;
  position: absolute;
  top: 8px;
  width: 16px;
}

.cuenta .overlap-group-wrapper {
  height: 8px;
  left: 6px;
  position: relative;
  top: 4px;
  width: 4px;
}

.cuenta .line-3 {
  height: 5px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 5px;
}

.cuenta .line-4 {
  height: 5px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5px;
}

.cuenta .componente-5 {
  height: 195px;
  left: 330px;
  position: absolute;
  top: 110px;
  width: 225px;
}

.cuenta .filter-wrapper {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  position: relative;
  width: 54px;
}

.cuenta .filter {
  height: 20px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 22px;
}

.cuenta .componente-6 {
  height: 364px;
  left: 1204px;
  position: absolute;
  top: 31px;
  width: 256px;
}

.cuenta .grupo-12 {
  height: 22px;
  left: 4px;
  position: relative;
  width: 215px;
}

.cuenta .download {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.cuenta .overlap-group-7 {
  height: 20px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 20px;
}

.cuenta .trazado-15 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 20px;
}

.cuenta .trazado-16 {
  height: 7px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 13px;
}

.cuenta .lnea {
  height: 14px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2px;
}

.cuenta .text-wrapper-63 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 31px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.cuenta .text-wrapper-13 {

  top: 396px;
  
}