.cuenta {
  background-color: #eff5ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cuenta .div-2 {
  background-color: #eff5ff;
  height: 1650px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.cuenta .overlap-43 {
  height: 469px;
  left: 299px;
  position: absolute;
  top: -2px;
  width: 1621px;
}

.cuenta .rectangle-4 {
  height: 224px;
  left: 32px;
  object-fit: cover;
  position: absolute;
  top: 245px;
  width: 1479px;
}

.cuenta .text-wrapper-108 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 811px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 388px;
  white-space: nowrap;
}

.cuenta .text-wrapper-109 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1111px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 388px;
  white-space: nowrap;
}

.cuenta .text-wrapper-110 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 811px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 312px;
  white-space: nowrap;
}

.cuenta .text-wrapper-111 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1111px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 312px;
  white-space: nowrap;
}

.cuenta .text-wrapper-112 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 811px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 352px;
  white-space: nowrap;
}

.cuenta .text-wrapper-113 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1111px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 352px;
  white-space: nowrap;
}

.cuenta .grupo-17 {
  height: 19px;
  left: 1307px;
  position: absolute;
  top: 142px;
  width: 200px;
}

.cuenta .text-wrapper-114 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
}

.cuenta .text-wrapper-115 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 92px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: -2px;
  white-space: nowrap;
}

.cuenta .chevron-right-12 {
  height: 12px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 7px;
}

.cuenta .grupo-18 {
  height: 298px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1621px;
}

.cuenta .overlap-44 {
  height: 298px;
  position: relative;
}

.cuenta .rectngulo-31 {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000008;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1621px;
}

.cuenta .componente-14 {
  height: 45px;
  left: 1321px;
  position: absolute;
  top: 28px;
  width: 45px;
}

.cuenta .grupo-19 {
  height: 45px;
}

.cuenta .sun-3 {
  height: 20px;
  left: 13px;
  position: relative;
  top: 13px;
  width: 20px;
}

.cuenta .overlap-group-11 {
  height: 17px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 17px;
}

.cuenta .elipse-5 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 4px;
  height: 10px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 10px;
}

.cuenta .trazado-30 {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.cuenta .trazado-31 {
  height: 4px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 4px;
}

.cuenta .trazado-32 {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 4px;
}

.cuenta .trazado-33 {
  height: 4px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.cuenta .trazado-34 {
  height: 4px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 2px;
}

.cuenta .trazado-35 {
  height: 4px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 2px;
}

.cuenta .trazado-36 {
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 4px;
}

.cuenta .trazado-37 {
  height: 2px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 4px;
}

.cuenta .componente-15 {
  height: 45px;
  left: 1391px;
  position: absolute;
  top: 28px;
  width: 45px;
}

.cuenta .grupo-20 {
  height: 45px;
  position: relative;
}

.cuenta .oval-7 {
  height: 6px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 6px;
}

.cuenta .bell-ring-3 {
  height: 20px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.cuenta .overlap-group-12 {
  height: 17px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 22px;
}

.cuenta .trazado-38 {
  height: 17px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 20px;
}

.cuenta .trazado-39 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.cuenta .trazado-40 {
  height: 8px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.cuenta .trazado-41 {
  height: 3px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 6px;
}

.cuenta .text-wrapper-116 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 35px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.cuenta .chevron-right-13 {
  height: 7px;
  left: 164px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 12px;
}

.cuenta .componente-16 {
  height: 274px;
  left: 1218px;
  position: absolute;
  top: 24px;
  width: 302px;
}

.cuenta .grupo-21 {
  background-color: #eff6ff;
  background-image: url(../../../static/img/enmascarar-grupo-2-7.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px;
  height: 48px;
  left: 251px;
  position: relative;
  width: 48px;
}

.cuenta .componente-17 {
  height: 152px;
  left: 1250px;
  position: absolute;
  top: 27px;
  width: 144px;
}

.cuenta .grupo-22 {
  height: 152px;
  position: relative;
}

.cuenta .rectngulo-32 {
  border-radius: 2px;
  height: 32px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 32px;
}

.cuenta .rectangle-5 {
  height: 40px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: 367px;
  width: 130px;
}

.cuenta .rectangle-copy {
  height: 40px;
  left: 182px;
  object-fit: cover;
  position: absolute;
  top: 367px;
  width: 98px;
}

.cuenta .rectangle-copy-2 {
  height: 40px;
  left: 280px;
  object-fit: cover;
  position: absolute;
  top: 367px;
  width: 373px;
}

.cuenta .text-wrapper-117 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 142px;
  white-space: nowrap;
}

.cuenta .text-wrapper-118 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 194px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 306px;
  white-space: nowrap;
}

.cuenta .text-wrapper-119 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 99px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 380px;
  white-space: nowrap;
}

.cuenta .text-wrapper-120 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 220px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 380px;
  white-space: nowrap;
}

.cuenta .text-wrapper-121 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 449px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 380px;
  white-space: nowrap;
}

.cuenta .text-wrapper-122 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 52px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 330px;
  white-space: nowrap;
}

.cuenta .text-wrapper-123 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 52px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 420px;
  white-space: nowrap;
}

.cuenta .text-wrapper-124 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 32px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 187px;
  white-space: nowrap;
}

.cuenta .text-wrapper-125 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 52px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 270px;
  white-space: nowrap;
}

.cuenta .text-wrapper-126 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 26px;
  font-weight: 600;
  left: 52px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 296px;
  white-space: nowrap;
}

.cuenta .download-wrapper {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 1400px;
  position: absolute;
  top: 275px;
  width: 54px;
}

.cuenta .download {
  height: 18px;
  left: 18px;
  position: relative;
  top: 15px;
  width: 18px;
}

.cuenta .overlap-group-13 {
  height: 20px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 20px;
}

.cuenta .trazado-42 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 20px;
}

.cuenta .trazado-43 {
  height: 7px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 13px;
}

.cuenta .lnea-8 {
  height: 14px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2px;
}

.cuenta .overlap-45 {
  height: 1650px;
  left: -6px;
  position: absolute;
  top: 0;
  width: 305px;
}

.cuenta .rectangle-6 {
  height: 1650px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 299px;
}

.cuenta .rectangle-7 {
  background-color: #dbdbdb;
  height: 1080px;
  left: 304px;
  position: absolute;
  top: 0;
  width: 1px;
}

.cuenta .logo-placeholder-3 {
  height: 118px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 169px;
}

.cuenta .componente-18 {
  height: 323px;
  left: 23px;
  position: absolute;
  top: 144px;
  width: 262px;
}

.cuenta .overlap-46 {
  background-image: url(../../../static/img/rectangle-31.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 50px;
  left: 0;
  position: absolute;
  top: 113px;
  width: 262px;
}

.cuenta .text-wrapper-127 {
  color: #3f88cb;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 15px;
  white-space: nowrap;
}

.cuenta .chevron-right-14 {
  height: 7px;
  left: 223px;
  object-fit: cover;
  position: absolute;
  top: 21px;
  width: 12px;
}

.cuenta .wallet-3 {
  height: 18px;
  left: 19px;
  position: absolute;
  top: 16px;
  width: 19px;
}

.cuenta .overlap-group-14 {
  height: 20px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 21px;
}

.cuenta .trazado-44 {
  height: 15px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 21px;
}

.cuenta .trazado-45 {
  height: 18px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 20px;
}

.cuenta .text-wrapper-128 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 57px;
  white-space: nowrap;
}

.cuenta .text-wrapper-129 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 246px;
  white-space: nowrap;
}

.cuenta .text-wrapper-130 {
  color: #3f88cb;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 59px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 188px;
  white-space: nowrap;
}

.cuenta .text-wrapper-131 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 6px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.cuenta .chevron-right-15 {
  height: 12px;
  left: 226px;
  object-fit: cover;
  position: absolute;
  top: 250px;
  width: 7px;
}

.cuenta .layout-dashboard-3 {
  height: 18px;
  left: 19px;
  position: absolute;
  top: 57px;
  width: 18px;
}

.cuenta .rectngulo-33 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 1px;
  height: 11px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 9px;
}

.cuenta .rectngulo-34 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 1px;
  height: 7px;
  left: 10px;
  position: absolute;
  top: -1px;
  width: 9px;
}

.cuenta .rectngulo-35 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 1px;
  height: 11px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 9px;
}

.cuenta .rectngulo-36 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 1px;
  height: 7px;
  left: -1px;
  position: absolute;
  top: 12px;
  width: 9px;
}

.cuenta .square-user-round-3 {
  height: 18px;
  left: 19px;
  position: absolute;
  top: 245px;
  width: 18px;
}

.cuenta .overlap-47 {
  border-radius: 2px;
  height: 20px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 20px;
}

.cuenta .trazado-46 {
  height: 8px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 14px;
}

.cuenta .elipse-6 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 4px;
  height: 10px;
  left: 5px;
  position: absolute;
  top: 4px;
  width: 10px;
}

.cuenta .rectngulo-37 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 2px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.cuenta .oval-8 {
  height: 4px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 313px;
  width: 4px;
}

.cuenta .oval-9 {
  height: 4px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 195px;
  width: 4px;
}

.cuenta .overlap-48 {
  height: 1077px;
  left: 331px;
  position: absolute;
  top: 504px;
  width: 4462px;
}

.cuenta .rectangle-8 {
  height: 1077px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1479px;
}

.cuenta .text-wrapper-132 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 33px;
  white-space: nowrap;
}

.cuenta .grupo-23 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 33px;
  position: absolute;
  top: 110px;
  width: 290px;
}

.cuenta .text-wrapper-133 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.cuenta .text-wrapper-134 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 34px;
  left: 33px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 67px;
  width: 314px;
}

.cuenta .componente-19 {
  height: 912px;
  left: 0;
  position: absolute;
  top: 39px;
  width: 4462px;
}

.cuenta .grupo-24 {
  height: 756px;
  left: 0;
  position: absolute;
  top: 156px;
  width: 4462px;
}

.cuenta .grupo-25 {
  height: 756px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1480px;
}

.cuenta .overlap-49 {
  background-color: #ffffff;
  height: 70px;
  left: 0;
  position: absolute;
  top: 55px;
  width: 1480px;
}

.cuenta .text-wrapper-135 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 44px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.cuenta .text-wrapper-136 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1105px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.cuenta .text-wrapper-137 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 245px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.cuenta .text-wrapper-138 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 882px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta .lorem-ipsum-dolor {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 428px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.cuenta .grupo-26 {
  background-image: url(../../../static/img/rectangle-6.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 1263px;
  position: absolute;
  top: 23px;
  width: 103px;
}

.cuenta .text-wrapper-139 {
  color: #ef4444;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.cuenta .oval-10 {
  height: 6px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 6px;
}

.cuenta .overlap-50 {
  background-color: #ffffff;
  height: 70px;
  left: 0;
  position: absolute;
  top: 335px;
  width: 1480px;
}

.cuenta .text-wrapper-140 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1105px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.cuenta .lorem-ipsum-dolor-2 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 428px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.cuenta .text-wrapper-141 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 245px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
}

.cuenta .text-wrapper-142 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 882px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.cuenta .grupo-27 {
  background-image: url(../../../static/img/rectangle-15.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 1262px;
  position: absolute;
  top: 23px;
  width: 88px;
}

.cuenta .text-wrapper-143 {
  color: #249782;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.cuenta .overlap-group-15 {
  background-color: #ffffff;
  height: 70px;
  left: 0;
  position: absolute;
  top: 476px;
  width: 1480px;
}

.cuenta .text-wrapper-144 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 44px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta .text-wrapper-145 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1105px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta .grupo-28 {
  background-image: url(../../../static/img/rectangle-15.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 1262px;
  position: absolute;
  top: 24px;
  width: 88px;
}

.cuenta .overlap-51 {
  background-color: #ffffff;
  height: 70px;
  left: 0;
  position: absolute;
  top: 616px;
  width: 1480px;
}

.cuenta .overlap-52 {
  background-color: #f7fafc;
  height: 70px;
  left: 0;
  position: absolute;
  top: 125px;
  width: 1480px;
}

.cuenta .lorem-ipsum-dolor-3 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 428px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.cuenta .text-wrapper-146 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1105px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}

.cuenta .text-wrapper-147 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 245px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta .grupo-29 {
  background-image: url(../../../static/img/rectangle-8.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 1263px;
  position: absolute;
  top: 21px;
  width: 103px;
}

.cuenta .text-wrapper-148 {
  color: #3f88cb;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.cuenta .overlap-53 {
  background-color: #f7fafc;
  height: 70px;
  left: 0;
  position: absolute;
  top: 406px;
  width: 1480px;
}

.cuenta .grupo-30 {
  background-image: url(../../../static/img/rectangle-10.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 1262px;
  position: absolute;
  top: 27px;
  width: 84px;
}

.cuenta .text-wrapper-149 {
  color: #eab308;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.cuenta .overlap-54 {
  background-color: #f7fafc;
  height: 70px;
  left: 0;
  position: absolute;
  top: 546px;
  width: 1480px;
}

.cuenta .lorem-ipsum-dolor-4 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 428px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta .text-wrapper-150 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1105px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.cuenta .text-wrapper-151 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 245px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.cuenta .text-wrapper-152 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 882px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.cuenta .grupo-31 {
  background-image: url(../../../static/img/rectangle-15.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 1262px;
  position: absolute;
  top: 20px;
  width: 88px;
}

.cuenta .overlap-55 {
  background-color: #f7fafc;
  height: 70px;
  left: 0;
  position: absolute;
  top: 686px;
  width: 1480px;
}

.cuenta .overlap-56 {
  background-color: #ffffff;
  height: 70px;
  left: 0;
  position: absolute;
  top: 195px;
  width: 1480px;
}

.cuenta .grupo-32 {
  background-image: url(../../../static/img/rectangle-8.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 1263px;
  position: absolute;
  top: 23px;
  width: 103px;
}

.cuenta .overlap-57 {
  background-color: #f7fafc;
  height: 70px;
  left: 0;
  position: absolute;
  top: 265px;
  width: 1480px;
}

.cuenta .grupo-33 {
  background-image: url(../../../static/img/rectangle-10.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 1262px;
  position: absolute;
  top: 22px;
  width: 84px;
}

.cuenta .overlap-58 {
  background-color: #f1f5f9;
  height: 55px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1480px;
}

.cuenta .text-wrapper-153 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 238px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.cuenta .text-wrapper-154 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 882px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta .text-wrapper-155 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 429px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.cuenta .text-wrapper-156 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1105px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta .text-wrapper-157 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 1263px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta .text-wrapper-158 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 43px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.cuenta .grupo-34 {
  background-image: url(../../../static/img/rectangle-25.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  left: 4249px;
  position: absolute;
  top: 74px;
  width: 108px;
}

.cuenta .grupo-35 {
  height: 48px;
  left: 1079px;
  position: absolute;
  top: 0;
  width: 347px;
}

.cuenta .grupo-36 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 109px;
}

.cuenta .text-wrapper-159 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.cuenta .grupo-37 {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 119px;
  position: absolute;
  top: 0;
  width: 109px;
}

.cuenta .text-wrapper-160 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.cuenta .grupo-38 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 238px;
  position: absolute;
  top: 0;
  width: 109px;
}

.cuenta .text-wrapper-161 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 30px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.cuenta .text-wrapper-162 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 34px;
  left: 40px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 1003px;
  width: 230px;
}

.cuenta .next-3 {
  height: 32px;
  left: 1081px;
  position: absolute;
  top: 1000px;
  width: 280px;
}

.cuenta .overlap-59 {
  background-image: url(../../../static/img/rectangle-2-5.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 32px;
  left: 123px;
  position: absolute;
  top: 0;
  width: 32px;
}

.cuenta .element-4 {
  background-image: url(../../../static/img/trazado-6955-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 13px;
  position: relative;
  top: 11px;
  width: 7px;
}

.cuenta .overlap-60 {
  background-image: url(../../../static/img/grupo-476-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 32px;
  left: 163px;
  position: absolute;
  top: 0;
  width: 32px;
}

.cuenta .element-5 {
  background-image: url(../../../static/img/trazado-6957-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 13px;
  position: relative;
  top: 11px;
  width: 7px;
}

.cuenta .overlap-61 {
  background-image: url(../../../static/img/grupo-477-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 75px;
}

.cuenta .prev-2 {
  background-image: url(../../../static/img/trazado-6954-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 34px;
  position: absolute;
  top: 11px;
  width: 28px;
}

.cuenta .frame-4 {
  height: 16px;
  left: 13px;
  position: absolute;
  top: 8px;
  transform: rotate(180deg);
  width: 16px;
}

.cuenta .overlap-62 {
  height: 16px;
  position: relative;
}

.cuenta .frame-5 {
  height: 16px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 16px;
}

.cuenta .group-3 {
  height: 8px;
  left: 6px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.cuenta .overlap-group-16 {
  height: 9px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 5px;
}

.cuenta .line-5 {
  height: 5px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 5px;
}

.cuenta .line-6 {
  height: 5px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  transform: rotate(-180deg);
  width: 5px;
}

.cuenta .overlap-63 {
  background-image: url(../../../static/img/grupo-478-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 32px;
  left: 83px;
  position: absolute;
  top: 0;
  width: 32px;
}

.cuenta .element-6 {
  background-image: url(../../../static/img/trazado-6956-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 14px;
  position: relative;
  top: 11px;
  width: 3px;
}

.cuenta .overlap-64 {
  background-image: url(../../../static/img/grupo-479-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 32px;
  left: 203px;
  position: absolute;
  top: 0;
  width: 77px;
}

.cuenta .next-4 {
  background-image: url(../../../static/img/trazado-6958-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 10px;
  left: 14px;
  position: absolute;
  top: 11px;
  width: 29px;
}

.cuenta .group-wrapper {
  background-image: url(../../../static/img/frame-copy-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 16px;
  left: 48px;
  position: absolute;
  top: 8px;
  width: 16px;
}

.cuenta .group-4 {
  height: 8px;
  left: 6px;
  position: relative;
  top: 4px;
  width: 4px;
}

.cuenta .line-7 {
  height: 5px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 5px;
}

.cuenta .line-8 {
  height: 5px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 5px;
}

.cuenta .componente-20 {
  height: 195px;
  left: 330px;
  position: absolute;
  top: 110px;
  width: 225px;
}

.cuenta .filter-wrapper {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  position: relative;
  width: 54px;
}

.cuenta .filter {
  height: 20px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 22px;
}
