.sectionContainer {
  max-width: 45rem;
  margin-left: -22.5rem;
  margin-right: 1.6rem;
  background: #ffffff;
  border-radius: 10px;
  padding: 3.5rem;

  @media (width < 800px) {
    margin: 1.6rem;
  }

  > a {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    gap: 0.67rem;
    font-size: $sizeS;
    color: $colorBlueAccent;
    margin: 2rem 0 1rem;
    text-decoration: none;
  }

  h1 {
    font-size: $sizeXL;
    font-weight: 600;
    color: $colorGrayDark;
    margin-bottom: 3rem;
  }

  form {
    .inputContainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: $sizeS;
      margin-bottom: 3rem;
      position: relative;

      label {
        font-weight: 600;
      }

      input {
        border: 1px solid #f0f0f0;
        border-radius: 6px;
        padding: 1.5rem;

        &::placeholder {
          color: #95989a;
        }
      }

      .error {
        color: $colorRed;
        position: absolute;
        font-size: $sizeTiny;
        bottom: -18px;
      }
    }

    .rememberDeviceContainer {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #6e6893;
      margin-bottom: 7.7rem;
    }

    button {
      color: #ffffff;
      font-weight: 600;
      background: $colorBluePrimary;
      padding: 1.2rem;
      font-size: $sizeM;
      border-radius: 6px;
      border: none;
      width: 100%;
    }
  }
}

.successAlert {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 800px;

  .containerImg {
    background: #b7ffdd;
    padding: 1rem;
    border-radius: 10px;
  }

  h3 {
    color: $colorGrayDark;
    font-weight: bold;
  }

  p {
    color: #008446;

    span {
      color: #008446;
      font-weight: bold;
      text-wrap: nowrap;
    }
  }
}
