.solicitud-de {
  background-color: #f1f5f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.solicitud-de .solicitud-de-fa {
  background-color: #f1f5f9;
  height: 1080px;
  width: 1920px;
}

.solicitud-de .overlap-111 {
  height: 1080px;
  position: relative;
  width: 1662px;
}

.solicitud-de .rectngulo-72 {
  background-color: #562f7f;
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1425px;
}

.solicitud-de .grupo-63 {
  background-color: #ffffff;
  border-radius: 10px;
  display: block;
  height: 586px;
  left: 1148px;
  position: absolute;
  top: 236px;
  width: 514px;
}

.solicitud-de .ingrese-el-c-digo-de {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 50px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 186px;
  white-space: nowrap;
}

.solicitud-de .text-wrapper-330 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 50px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 276px;
  white-space: nowrap;
}

.solicitud-de .overlap-112 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 50px;
  position: absolute;
  top: 302px;
  width: 422px;
}

.solicitud-de .text-wrapper-331 {
  color: #95989a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.solicitud-de .overlap-113 {
  background-color: #3f88cb;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 50px;
  position: absolute;
  top: 471px;
  width: 422px;
}

.solicitud-de .text-wrapper-332 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 179px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 14px;
  white-space: nowrap;
}

.solicitud-de .overlap-group-31 {
  height: 156px;
  left: 6px;
  position: absolute;
  top: 20px;
  width: 223px;
}

.solicitud-de .text-wrapper-333 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 58px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 128px;
  white-space: nowrap;
}

.solicitud-de .chevron-right-24 {
  height: 12px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 133px;
  width: 7px;
}

.solicitud-de .logo-placeholder-8 {
  height: 156px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 223px;
}

.solicitud-de .search-users-by-name {
  color: #6e6893;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 17px;
  left: 80px;
  letter-spacing: 0;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  top: 379px;
  white-space: nowrap;
  width: 298px;
}

.solicitud-de .rectangle-wrapper {
  height: 20px;
  left: 50px;
  position: absolute;
  top: 378px;
  width: 20px;
}

.solicitud-de .rectangle-17 {
  border-radius: 5px;
  height: 44px;
  left: -14px;
  object-fit: cover;
  position: absolute;
  top: -8px;
  width: 44px;
}
