.sectionContainer {
  max-width: 45rem;
  margin-left: -22.5rem;
  margin-right: 1.6rem;
  background: #ffffff;
  border-radius: 10px;
  padding: 3.5rem;
  font-size: $sizeS;

  @media (width < 800px) {
    margin: 1.6rem;
  }

  h1 {
    font-size: $sizeL;
    color: $colorGrayDark;
    margin: 1.6rem 0;
    font-weight: 600;
  }

  h2 {
    margin-bottom: 2.5rem;
  }

  form {
    article:not(.passwordRequirements) {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2rem;

      label {
        font-weight: 600;
      }

      div {
        width: 100%;
        position: relative;

        input {
          width: 100%;
          padding: 1.5rem;
          border-radius: 6px;
          border: 1px solid #f0f0f0;

          &::placeholder {
            color: #95989a;
          }
        }

        .error {
          color: $colorRed;
          position: absolute;
          font-size: $sizeTiny;
        }

        button {
          border: none;
          background: none;
          img {
            filter: invert(90%) sepia(21%) saturate(344%) hue-rotate(198deg)
              brightness(89%) contrast(90%);

            transform: scaleX(-1);

            position: absolute;
            top: 1.6rem;
            right: 1.6rem;
          }
        }
      }
    }

    .passwordRequirements {
      margin-bottom: 4.7rem;

      h3 {
        font-weight: bold;
        margin-bottom: 0.22rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.22rem;
        list-style-type: "- ";
      }
    }

    > button {
      color: #ffffff;
      font-weight: 600;
      background: $colorBluePrimary;
      padding: 1.2rem;
      font-size: $sizeM;
      border-radius: 6px;
      border: none;
      width: 100%;
    }
  }
}

.successAlert {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 800px;

  .containerImg {
    background: #b7ffdd;
    padding: 1rem;
    border-radius: 10px;
  }

  h3 {
    color: $colorGrayDark;
    font-weight: bold;
  }

  p {
    color: #008446;

    span {
      color: #008446;
      font-weight: bold;
      text-wrap: nowrap;
    }
  }
}
