.rectngulo1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue-100);
  width: 1425px;
  height: 1080px;
}
.rectngulo2 {
  position: absolute;
  top: 189px;
  right: 258px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 514px;
  height: 683px;
}
.hola {
  position: absolute;
  top: 341px;
  left: 1198px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--color-dimgray-200);
}
.pcp {
  color: var(--color-cornflowerblue);
}
.ingresaTuCorreoContainer {
  position: absolute;
  top: 390px;
  left: 1198px;
  line-height: 22px;
  display: inline-block;
  width: 369px;
  height: 46px;
  color: var(--color-lightslategray-100);
}
.rectngulo3 {
  position: absolute;
  top: 525px;
  right: 258px;
  border-radius: 0 0 var(--br-3xs) var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  width: 514px;
  height: 347px;
}
.correoElectrnico {
  top: 555px;
  font-weight: 600;
}
.componente202,
.correoElectrnico,
.rectngulo4 {
  position: absolute;
  left: 1198px;
}
.rectngulo4 {
  top: 584px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 422px;
  height: 48px;
}
.componente202 {
  top: 749px;
  width: 440px;
  height: 66px;
}
.iniciarSesion {
  position: absolute;
  top: 761px;
  left: 1355px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-white);
  cursor: pointer;
}
.rectngulo6 {
  position: absolute;
  top: 681px;
  left: 1198px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 422px;
  height: 48px;
}
.contrasea,
.correoElectronico {
  position: absolute;
  top: 599px;
  left: 1212px;
  color: var(--color-darkgray-100);
}
.contrasea {
  top: 696px;
}
.contrasea1,
.recuperarContrasea {
  position: absolute;
  font-weight: 600;
}
.recuperarContrasea {
  top: 653px;
  left: 1483px;
  font-size: var(--font-size-xs);
  color: var(--color-cornflowerblue);
  cursor: pointer;
}
.contrasea1 {
  top: 652px;
  left: 1198px;
}
.trminosYCondiciones {
  position: absolute;
  top: 466px;
  left: 1212px;
  color: var(--color-cornflowerblue);
}
.chevronRightIcon {
  position: absolute;
  top: 470px;
  left: 1198px;
  width: 7.3px;
  height: 12px;
}
.logoPlaceholder3RemovebgPrIcon {
  position: absolute;
  top: 209px;
  left: 1154px;
  width: 223px;
  height: 156px;
  object-fit: cover;
}
.login1 {
  position: relative;
  background-color: var(--color-aliceblue-300);
  width: 1920px;
  height: 1080px;
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-100);
  font-family: var(--font-open-sans);
}
