.mainContainer {
  padding: 3rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (width < 915px) {
    padding: 1.6rem;
    gap: 3rem;
  }

  .entrepriseNameContainer {
    display: none;
    @media (width <= 915px) {
      display: flex;
    }
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (width <= 915px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      margin: 0;
    }

    h1 {
      font-size: $sizeXL;
    }

    article {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      font-size: $sizeS;

      p {
        color: $colorBlueAccent;
      }

      @media (width < 915px) {
        display: none;
      }
    }
  }
}
