.screen-5 {
  background-color: #eff5ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen-5 .perfil-de-usuario-3 {
  background-color: #eff5ff;
  height: 1151px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.screen-5 .overlap-19 {
  height: 306px;
  left: 299px;
  position: absolute;
  top: -2px;
  width: 1621px;
}

.screen-5 .text-wrapper-76 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 913px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 212px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-77 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 913px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 242px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-78 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 913px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 286px;
  white-space: nowrap;
}

.screen-5 .grupo-17 {
  height: 298px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1621px;
}

.screen-5 .overlap-20 {
  height: 298px;
  position: relative;
}

.screen-5 .rectngulo-35 {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000008;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1621px;
}

.screen-5 .componente-10 {
  height: 45px;
  left: 1321px;
  position: absolute;
  top: 28px;
  width: 45px;
}

.screen-5 .grupo-18 {
  height: 45px;
}

.screen-5 .sun-3 {
  height: 20px;
  left: 13px;
  position: relative;
  top: 13px;
  width: 20px;
}

.screen-5 .overlap-group-11 {
  height: 17px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 17px;
}

.screen-5 .elipse-5 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 4px;
  height: 10px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 10px;
}

.screen-5 .trazado-30 {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.screen-5 .trazado-31 {
  height: 4px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 4px;
}

.screen-5 .trazado-32 {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 4px;
}

.screen-5 .trazado-33 {
  height: 4px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.screen-5 .trazado-34 {
  height: 4px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 2px;
}

.screen-5 .trazado-35 {
  height: 4px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 2px;
}

.screen-5 .trazado-36 {
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 4px;
}

.screen-5 .trazado-37 {
  height: 2px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 4px;
}

.screen-5 .componente-11 {
  height: 45px;
  left: 1391px;
  position: absolute;
  top: 28px;
  width: 45px;
}

.screen-5 .grupo-19 {
  height: 45px;
  position: relative;
}

.screen-5 .oval-7 {
  height: 6px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 6px;
}

.screen-5 .bell-ring-3 {
  height: 20px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.screen-5 .overlap-group-12 {
  height: 17px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 22px;
}

.screen-5 .trazado-38 {
  height: 17px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 20px;
}

.screen-5 .trazado-39 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.screen-5 .trazado-40 {
  height: 8px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.screen-5 .trazado-41 {
  height: 3px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 6px;
}

.screen-5 .componente-12 {
  height: 274px;
  left: 1218px;
  position: absolute;
  top: 24px;
  width: 302px;
}

.screen-5 .grupo-20 {
  background-color: #eff6ff;
  background-image: url(../../../static/img/enmascarar-grupo-2-9.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px;
  height: 48px;
  left: 251px;
  position: relative;
  width: 48px;
}

.screen-5 .componente-13 {
  height: 152px;
  left: 1250px;
  position: absolute;
  top: 27px;
  width: 144px;
}

.screen-5 .grupo-21 {
  height: 152px;
  position: relative;
}

.screen-5 .rectngulo-36 {
  border-radius: 2px;
  height: 32px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 32px;
}

.screen-5 .empresa-fiber-3 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  left: 35px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-79 {
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
}

.screen-5 .text-wrapper-80 {
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
}

.screen-5 .chevron-right-11 {
  height: 7px;
  left: 194px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 12px;
}

.screen-5 .text-wrapper-81 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 154px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-82 {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 224px;
  white-space: nowrap;
}

.screen-5 .aseg-rese-de-que-5 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 254px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-83 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 969px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 151px;
  white-space: nowrap;
}

.screen-5 .rectngulo-37 {
  background-color: #ffffff;
  border-radius: 3px;
  height: 35px;
  left: 913px;
  position: absolute;
  top: 149px;
  width: 35px;
}

.screen-5 .lock-star-line-3 {
  height: 22px;
  left: 921px;
  object-fit: cover;
  position: absolute;
  top: 155px;
  width: 20px;
}

.screen-5 .text-wrapper-84 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1212px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 320px;
  white-space: nowrap;
}

.screen-5 .element-agrega-tu-cuenta-a {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1212px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 350px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-85 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1212px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 410px;
  white-space: nowrap;
}

.screen-5 .grupo-22 {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  display: block;
  height: 48px;
  left: 1212px;
  position: absolute;
  top: 844px;
  width: 145px;
}

.screen-5 .text-wrapper-86 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 30px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.screen-5 .overlap-21 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 1212px;
  position: absolute;
  top: 766px;
  width: 462px;
}

.screen-5 .text-wrapper-87 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.screen-5 .ic-filter-none {
  height: 15px;
  left: 432px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 15px;
}

.screen-5 .activities {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 23px;
  left: 1388px;
  letter-spacing: 0;
  line-height: 38px;
  overflow: hidden;
  position: absolute;
  top: 456px;
  white-space: nowrap;
  width: 176px;
}

.screen-5 .activities-2 {
  color: #5a607f;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 44px;
  left: 1212px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 702px;
  width: 429px;
}

.screen-5 .codigo-qr {
  height: 171px;
  left: 1389px;
  object-fit: cover;
  position: absolute;
  top: 507px;
  width: 171px;
}

.screen-5 .overlap-22 {
  height: 1462px;
  left: -6px;
  position: absolute;
  top: 0;
  width: 305px;
}

.screen-5 .rectangle-5 {
  height: 1462px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 299px;
}

.screen-5 .rectangle-6 {
  background-color: #dbdbdb;
  height: 1080px;
  left: 304px;
  position: absolute;
  top: 0;
  width: 1px;
}

.screen-5 .logo-placeholder-3 {
  height: 118px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 169px;
}

.screen-5 .componente-14 {
  height: 323px;
  left: 29px;
  position: absolute;
  top: 144px;
  width: 227px;
}

.screen-5 .text-wrapper-88 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 58px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-89 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 129px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-90 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 200px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-91 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.screen-5 .chevron-right-12 {
  height: 12px;
  left: 220px;
  object-fit: cover;
  position: absolute;
  top: 203px;
  width: 7px;
}

.screen-5 .chevron-right-13 {
  height: 12px;
  left: 220px;
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 7px;
}

.screen-5 .layout-dashboard-3 {
  height: 18px;
  left: 13px;
  position: absolute;
  top: 57px;
  width: 18px;
}

.screen-5 .rectngulo-38 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 1px;
  height: 11px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 9px;
}

.screen-5 .rectngulo-39 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 1px;
  height: 7px;
  left: 10px;
  position: absolute;
  top: -1px;
  width: 9px;
}

.screen-5 .rectngulo-40 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 1px;
  height: 11px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 9px;
}

.screen-5 .rectngulo-41 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 1px;
  height: 7px;
  left: -1px;
  position: absolute;
  top: 12px;
  width: 9px;
}

.screen-5 .wallet-2 {
  height: 18px;
  left: 13px;
  position: absolute;
  top: 129px;
  width: 19px;
}

.screen-5 .overlap-group-13 {
  height: 20px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 21px;
}

.screen-5 .trazado-42 {
  height: 15px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 21px;
}

.screen-5 .trazado-43 {
  height: 18px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 20px;
}

.screen-5 .overlap-23 {
  height: 21px;
  left: 13px;
  position: absolute;
  top: 195px;
  width: 18px;
}

.screen-5 .square-user-round-3 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 18px;
}

.screen-5 .overlap-24 {
  border-radius: 2px;
  height: 20px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 20px;
}

.screen-5 .trazado-44 {
  height: 8px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 14px;
}

.screen-5 .elipse-6 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 4px;
  height: 10px;
  left: 5px;
  position: absolute;
  top: 4px;
  width: 10px;
}

.screen-5 .rectngulo-42 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 2px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.screen-5 .oval-8 {
  height: 4px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.screen-5 .oval-9 {
  height: 4px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 313px;
  width: 4px;
}

.screen-5 .text-wrapper-92 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 346px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 324px;
  white-space: nowrap;
}

.screen-5 .chevron-right-14 {
  height: 12px;
  left: 332px;
  object-fit: cover;
  position: absolute;
  top: 328px;
  width: 7px;
}

.screen-5 .overlap-25 {
  height: 733px;
  left: 332px;
  position: absolute;
  top: 376px;
  width: 712px;
}

.screen-5 .rectngulo-43 {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px #0000001a;
  height: 585px;
  left: 0;
  position: absolute;
  top: 0;
  width: 712px;
}

.screen-5 .text-wrapper-93 {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 148px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.screen-5 .rectngulo-44 {
  background-color: #f5f6f7;
  border-radius: 0px 0px 4px 4px;
  height: 588px;
  left: 0;
  position: absolute;
  top: 145px;
  width: 712px;
}

.screen-5 .text-wrapper-94 {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 180px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-95 {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 376px;
  white-space: nowrap;
}

.screen-5 .rectngulo-45 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 206px;
  width: 290px;
}

.screen-5 .rectngulo-46 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 402px;
  width: 290px;
}

.screen-5 .rectngulo-47 {
  background-color: #eaeef3;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 303px;
  width: 290px;
}

.screen-5 .text-wrapper-96 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 224px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-97 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 420px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-98 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 320px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-99 {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 276px;
  white-space: nowrap;
}

.screen-5 .rectngulo-48 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 360px;
  position: absolute;
  top: 206px;
  width: 290px;
}

.screen-5 .text-wrapper-100 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 374px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 224px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-101 {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 360px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 180px;
  white-space: nowrap;
}

.screen-5 .aseg-rese-de-que-6 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 148px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 70px;
  white-space: nowrap;
}

.screen-5 .rectngulo-49 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 360px;
  position: absolute;
  top: 303px;
  width: 290px;
}

.screen-5 .rectngulo-50 {
  background-color: #eaeef3;
  border-radius: 4px 0px 0px 4px;
  height: 48px;
  left: 360px;
  opacity: 0.4;
  position: absolute;
  top: 303px;
  width: 83px;
}

.screen-5 .text-wrapper-102 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 404px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 320px;
  white-space: nowrap;
}

.screen-5 .imagen-3 {
  height: 13px;
  left: 374px;
  object-fit: cover;
  position: absolute;
  top: 321px;
  width: 20px;
}

.screen-5 .lnea-10 {
  height: 48px;
  left: 443px;
  object-fit: cover;
  position: absolute;
  top: 303px;
  width: 1px;
}

.screen-5 .text-wrapper-103 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 457px;
  letter-spacing: 0;
  line-height: 14px;
  opacity: 0.4;
  position: absolute;
  top: 320px;
  white-space: nowrap;
}

.screen-5 .chevron-right-15 {
  height: 7px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 324px;
  width: 12px;
}

.screen-5 .lnea-11 {
  height: 48px;
  left: 288px;
  object-fit: cover;
  position: absolute;
  top: 303px;
  width: 1px;
}

.screen-5 .grupo-23 {
  background-color: #562eff;
  background-image: url(../../../static/img/enmascarar-grupo-4-4.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 40px;
  height: 80px;
  left: 40px;
  position: absolute;
  top: 35px;
  width: 80px;
}

.screen-5 .enmascarar-grupo-3 {
  height: 38px;
  left: 88px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 38px;
}

.screen-5 .grupo-24 {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 514px;
  position: absolute;
  top: 483px;
  width: 136px;
}

.screen-5 .lnea-12 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 570px;
  width: 712px;
}

.screen-5 .text-wrapper-104 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 598px;
  white-space: nowrap;
}

.screen-5 .text-wrapper-105 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 630px;
  white-space: nowrap;
}
