.element-recuperar {
  background-color: #f1f5f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-recuperar .element-2 {
  background-color: #f1f5f9;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.element-recuperar .overlap-group-3 {
  height: 1080px;
  left: -24px;
  position: relative;
  width: 1771px;
}

.element-recuperar .fondo-port {
  height: 1080px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1450px;
}

.element-recuperar .rectngulo-6 {
  background-color: #562f7f;
  height: 1080px;
  left: 24px;
  opacity: 0.03;
  position: absolute;
  top: 0;
  width: 1425px;
}

.element-recuperar .rectngulo-7 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 876px;
  left: 1257px;
  position: absolute;
  top: 119px;
  width: 514px;
}

.element-recuperar .text-wrapper-10 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 1307px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 299px;
  white-space: nowrap;
}

.element-recuperar .p {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  left: 1307px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 349px;
  width: 370px;
}

.element-recuperar .text-wrapper-11 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 1307px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 542px;
  white-space: nowrap;
}

.element-recuperar .rectngulo-8 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 1307px;
  position: absolute;
  top: 575px;
  width: 422px;
}

.element-recuperar .trazado-2 {
  height: 66px;
  left: 1298px;
  object-fit: cover;
  position: absolute;
  top: 895px;
  width: 440px;
}

.element-recuperar .text-wrapper-12 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 1485px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 916px;
  white-space: nowrap;
  cursor: pointer !important;
  background-color: #3f88cb;
  border: 0px!important;
}

.element-recuperar .rectngulo-9 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 1307px;
  position: absolute;
  top: 657px;
  width: 422px;
}

.element-recuperar .input {
  background-color: transparent;
  border: 0;
  color: #95989a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 1321px;
  letter-spacing: 0;
  line-height: 14px;
  padding: 0;
  position: absolute;
  top: 590px;
  white-space: nowrap;
  width: 84px;
  border:0px!important;
  width: 200px!important;
  outline: none!important;
}

.element-recuperar .input-2 {
  background-color: transparent;
  border: 0!important;
  color: #95989a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 1321px;
  letter-spacing: 0;
  line-height: 14px;
  padding: 0;
  position: absolute;
  top: 672px;
  white-space: nowrap;
  width: 200px!important;
  outline: none!important;
}

.element-recuperar .text-wrapper-13 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 1307px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 632px;
  white-space: nowrap;
}

.element-recuperar .logo-placeholder-2 {
  height: 156px;
  left: 1263px;
  object-fit: cover;
  position: absolute;
  top: 139px;
  width: 223px;
}

.element-recuperar .b-preview {
  background-image: url(../../../static/img/combined-shape-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 15px;
  left: 1685px;
  position: absolute;
  top: 590px;
  width: 17px;
}

.element-recuperar .b-preview-2 {
  background-image: url(../../../static/img/combined-shape-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 15px;
  left: 1685px;
  position: absolute;
  top: 672px;
  width: 17px;
}

.element-recuperar .tu-clave-de-acceso {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  height: 137px;
  left: 1307px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 726px;
  width: 388px;
}

.element-recuperar .span {
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
}

.element-recuperar .text-wrapper-14 {
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
}

.element-recuperar .text-wrapper-15 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 1303px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 450px;
  white-space: nowrap;
}

.element-recuperar .rectngulo-10 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 1303px;
  position: absolute;
  top: 483px;
  width: 422px;
}

.element-recuperar .correo-electronico-2 {
  background-color: transparent;
  border: 0!important;
  color: #95989a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 1317px;
  letter-spacing: 0;
  line-height: 14px;
  padding: 0;
  position: absolute;
  top: 498px;
  white-space: nowrap;
  width: 116px;
  border:0px!important;
  width: 200px!important;
  outline: none!important;

}

input.text-wrapper-7 {
  border: 0px !important;
  width: 200px !important;
  outline: none !important;
}



