.screen-10 {
  background-color: #00000073;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen-10 .usuarios-gestin-de-4 {
  background-color: #00000073;
  height: 1074px;
  width: 1920px;
}

.screen-10 .grupo-45 {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px #0000001a;
  height: 677px;
  left: 617px;
  position: relative;
  top: 185px;
  width: 687px;
}

.screen-10 .text-wrapper-257 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 116px;
  white-space: nowrap;
}

.screen-10 .text-wrapper-258 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 356px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 116px;
  white-space: nowrap;
}

.screen-10 .text-wrapper-259 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 356px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 322px;
  white-space: nowrap;
}

.screen-10 .overlap-90 {
  background-color: #eaeef3;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 143px;
  width: 283px;
}

.screen-10 .text-wrapper-260 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.screen-10 .overlap-91 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 356px;
  position: absolute;
  top: 349px;
  width: 290px;
}

.screen-10 .grupo-46 {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 514px;
  position: absolute;
  top: 586px;
  width: 136px;
}

.screen-10 .text-wrapper-261 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 36px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.screen-10 .overlap-group-24 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 242px;
  width: 290px;
}

.screen-10 .chevron-right-13 {
  height: 7px;
  left: 261px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 12px;
}

.screen-10 .lnea-8 {
  height: 48px;
  left: 246px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 1px;
}

.screen-10 .overlap-92 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 490px;
  width: 290px;
}

.screen-10 .text-wrapper-262 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 216px;
  white-space: nowrap;
}

.screen-10 .text-wrapper-263 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 464px;
  white-space: nowrap;
}

.screen-10 .overlap-93 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 349px;
  width: 290px;
}

.screen-10 .overlap-94 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 356px;
  position: absolute;
  top: 143px;
  width: 290px;
}

.screen-10 .text-wrapper-264 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 322px;
  white-space: nowrap;
}

.screen-10 .overlap-95 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 356px;
  position: absolute;
  top: 242px;
  width: 290px;
}

.screen-10 .overlap-96 {
  border-radius: 4px 0px 0px 4px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 83px;
}

.screen-10 .rectngulo-34 {
  background-color: #eaeef3;
  border-radius: 4px 0px 0px 4px;
  height: 48px;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 83px;
}

.screen-10 .text-wrapper-265 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.screen-10 .imagen-2 {
  height: 13px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 20px;
}

.screen-10 .text-wrapper-266 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 96px;
  letter-spacing: 0;
  line-height: 14px;
  opacity: 0.4;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.screen-10 .lnea-9 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 88px;
  width: 687px;
}

.screen-10 .text-wrapper-267 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
}

.screen-10 .text-wrapper-268 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 403px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 602px;
  white-space: nowrap;
}

.screen-10 .text-wrapper-269 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 424px;
  white-space: nowrap;
}
