.cuenta-estado-de {
  background-color: #00000073;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cuenta-estado-de .grupo-wrapper-3 {
  background-color: #00000073;
  height: 1400px;
  overflow: hidden;
  width: 1920px;
}

.cuenta-estado-de .grupo-39 {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #0000001a;
  height: 1315px;
  position: relative;
  top: 90px;
}

.cuenta-estado-de .lnea-9 {
  height: 2px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 140px;
  width: 1750px;
}

.cuenta-estado-de .overlap-65 {
  height: 80px;
  left: 83px;
  position: absolute;
  top: 57px;
  width: 376px;
}

.cuenta-estado-de .detalle-de-factura-f {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.cuenta-estado-de .span {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
}

.cuenta-estado-de .text-wrapper-163 {
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
}

.cuenta-estado-de .emisi-n {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  left: 6px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 32px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-164 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-weight: 300;
}

.cuenta-estado-de .text-wrapper-165 {
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
}

.cuenta-estado-de .overlap-66 {
  background-image: url(../../../static/img/rectangle-2-6.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1114px;
  left: 83px;
  position: absolute;
  top: 164px;
  width: 1017px;
}

.cuenta-estado-de .overlap-67 {
  height: 194px;
  left: 17px;
  position: absolute;
  top: 26px;
  width: 395px;
}

.cuenta-estado-de .text-wrapper-166 {
  color: #3f88cb;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 32px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 146px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-167 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 32px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 121px;
  white-space: nowrap;
}

.cuenta-estado-de .san-MIGUEL-DE {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  left: 32px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 170px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-168 {
  font-family: "Open Sans", Helvetica;
  font-weight: 300;
}

.cuenta-estado-de .logo-placeholder-4 {
  height: 133px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 190px;
}

.cuenta-estado-de .text-wrapper-169 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 49px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 224px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-170 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 50px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 518px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-171 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 370px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 518px;
  white-space: nowrap;
}

.cuenta-estado-de .overlap-68 {
  height: 53px;
  left: 740px;
  position: absolute;
  top: 531px;
  width: 153px;
}

.cuenta-estado-de .text-wrapper-172 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-173 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.cuenta-estado-de .operaci-n-sujeta-al {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 50px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 546px;
  white-space: nowrap;
}

.cuenta-estado-de .lorem-ipsum-dolor-5 {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 370px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 546px;
  white-space: nowrap;
}

.cuenta-estado-de .overlap-69 {
  background-color: #ffffff;
  height: 70px;
  left: 49px;
  position: absolute;
  top: 676px;
  width: 912px;
}

.cuenta-estado-de .SERV-puerta-a {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 22px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-174 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 641px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-175 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 780px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-176 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 337px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-177 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 475px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta-estado-de .overlap-70 {
  background-color: #ffffff;
  height: 70px;
  left: 487px;
  position: absolute;
  top: 905px;
  width: 475px;
}

.cuenta-estado-de .text-wrapper-178 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-179 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 351px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta-estado-de .overlap-71 {
  background-color: #f7fafc;
  height: 70px;
  left: 49px;
  position: absolute;
  top: 746px;
  width: 912px;
}

.cuenta-estado-de .text-wrapper-180 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-181 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 641px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-182 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 780px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-183 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 477px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta-estado-de .navbar-3 {
  background-color: #f1f5f9;
  height: 55px;
  left: 49px;
  position: absolute;
  top: 621px;
  width: 912px;
}

.cuenta-estado-de .text-wrapper-184 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 332px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-185 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 468px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-186 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 638px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-187 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 781px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-188 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 43px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.cuenta-estado-de .overlap-72 {
  background-color: #f1f5f9;
  height: 55px;
  left: 487px;
  position: absolute;
  top: 850px;
  width: 475px;
}

.cuenta-estado-de .text-wrapper-189 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 351px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-190 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 41px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.cuenta-estado-de .overlap-73 {
  background-color: #f1f5f9;
  height: 70px;
  left: 487px;
  position: absolute;
  top: 975px;
  width: 475px;
}

.cuenta-estado-de .text-wrapper-191 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 51px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-192 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 351px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta-estado-de .grupo-40 {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 896px;
  position: absolute;
  top: 48px;
  width: 54px;
}

.cuenta-estado-de .download-2 {
  height: 18px;
  left: 18px;
  position: relative;
  top: 15px;
  width: 18px;
}

.cuenta-estado-de .overlap-group-17 {
  height: 20px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 20px;
}

.cuenta-estado-de .trazado-47 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 20px;
}

.cuenta-estado-de .trazado-48 {
  height: 7px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 13px;
}

.cuenta-estado-de .lnea-10 {
  height: 14px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2px;
}

.cuenta-estado-de .rectangle-9 {
  background-image: url(../../../static/img/grupo-603-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 72px;
  left: 611px;
  position: absolute;
  top: 262px;
  width: 1px;
}

.cuenta-estado-de .rectangle-10 {
  background-image: url(../../../static/img/grupo-603-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 72px;
  left: 412px;
  position: absolute;
  top: 262px;
  width: 1px;
}

.cuenta-estado-de .element-total {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  left: 672px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 276px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-193 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
}

.cuenta-estado-de .element-7 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  left: 258px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 276px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-194 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 474px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 299px;
  white-space: nowrap;
}

.cuenta-estado-de .group-copy {
  background-image: url(../../../static/img/rectangle-26.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 22px;
  left: 476px;
  position: absolute;
  top: 276px;
  width: 47px;
}

.cuenta-estado-de .paid {
  background-image: url(../../../static/img/trazado-8230.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 9px;
  left: 12px;
  position: relative;
  top: 6px;
  width: 23px;
}

.cuenta-estado-de .overlap-74 {
  height: 48px;
  left: 49px;
  position: absolute;
  top: 357px;
  width: 424px;
}

.cuenta-estado-de .dashboard-2 {
  color: #2b80ff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-195 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.cuenta-estado-de .RUC {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  left: 50px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 408px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-196 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
}

.cuenta-estado-de .text-wrapper-197 {
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
}

.cuenta-estado-de .text-wrapper-198 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 50px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 434px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-199 {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 52px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 461px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-200 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 1137px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 196px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-201 {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 1137px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 626px;
  white-space: nowrap;
}

.cuenta-estado-de .por-favor-utilice-la {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  left: 1137px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 242px;
  white-space: nowrap;
}

.cuenta-estado-de .text-wrapper-202 {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
}

.cuenta-estado-de .autorizado-mediante {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1137px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 308px;
  white-space: nowrap;
}

.cuenta-estado-de .operaci-n-sujeta-al-2 {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1137px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 668px;
  white-space: nowrap;
}

.cuenta-estado-de .overlap-75 {
  background-color: #ffffff;
  height: 70px;
  left: 1137px;
  position: absolute;
  top: 457px;
  width: 637px;
}

.cuenta-estado-de .text-wrapper-203 {
  color: #172b4d;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 514px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta-estado-de .overlap-76 {
  background-color: #f1f5f9;
  height: 70px;
  left: 1137px;
  position: absolute;
  top: 527px;
  width: 637px;
}

.cuenta-estado-de .text-wrapper-204 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 514px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
}

.cuenta-estado-de .overlap-77 {
  background-color: #f1f5f9;
  height: 55px;
  left: 1137px;
  position: absolute;
  top: 402px;
  width: 637px;
}

.cuenta-estado-de .text-wrapper-205 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 514px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cuenta-estado-de .overlap-78 {
  height: 244px;
  left: 1137px;
  position: absolute;
  top: 735px;
  width: 228px;
}

.cuenta-estado-de .cdigo-QR-a-wikimedia {
  height: 228px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 228px;
}

.cuenta-estado-de .text-wrapper-206 {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 21px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 224px;
  white-space: nowrap;
}

.cuenta-estado-de .frame-copy-2 {
  background-image: url(../../../static/img/frame-copy-3.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 30px;
  left: 1783px;
  position: absolute;
  top: 53px;
  width: 30px;
}

.cuenta-estado-de .overlap-group-18 {
  height: 15px;
  left: 8px;
  position: relative;
  top: 8px;
  width: 15px;
}

.cuenta-estado-de .line-wrapper {
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.cuenta-estado-de .line-9 {
  height: 16px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 16px;
}
