.div-wrapper {
  background-color: #00000073;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .usuarios-gestin-de-3 {
  background-color: #00000073;
  height: 1074px;
  width: 1920px;
}

.div-wrapper .grupo-15 {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px #0000001a;
  height: 677px;
  left: 617px;
  position: relative;
  top: 185px;
  width: 687px;
}

.div-wrapper .text-wrapper-95 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 116px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-96 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 356px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 116px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-97 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 356px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 322px;
  white-space: nowrap;
}

.div-wrapper .overlap-36 {
  background-color: #eaeef3;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 143px;
  width: 283px;
}

.div-wrapper .text-wrapper-98 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.div-wrapper .overlap-37 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 356px;
  position: absolute;
  top: 349px;
  width: 290px;
}

.div-wrapper .grupo-16 {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 514px;
  position: absolute;
  top: 586px;
  width: 136px;
}

.div-wrapper .text-wrapper-99 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 36px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.div-wrapper .overlap-group-10 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 242px;
  width: 290px;
}

.div-wrapper .chevron-right-11 {
  height: 7px;
  left: 261px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 12px;
}

.div-wrapper .lnea-6 {
  height: 48px;
  left: 246px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 1px;
}

.div-wrapper .overlap-38 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 490px;
  width: 290px;
}

.div-wrapper .text-wrapper-100 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 216px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-101 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 464px;
  white-space: nowrap;
}

.div-wrapper .overlap-39 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 349px;
  width: 290px;
}

.div-wrapper .overlap-40 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 356px;
  position: absolute;
  top: 143px;
  width: 290px;
}

.div-wrapper .text-wrapper-102 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 322px;
  white-space: nowrap;
}

.div-wrapper .overlap-41 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 356px;
  position: absolute;
  top: 242px;
  width: 290px;
}

.div-wrapper .overlap-42 {
  border-radius: 4px 0px 0px 4px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 83px;
}

.div-wrapper .rectngulo-30 {
  background-color: #eaeef3;
  border-radius: 4px 0px 0px 4px;
  height: 48px;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 83px;
}

.div-wrapper .text-wrapper-103 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.div-wrapper .imagen-3 {
  height: 13px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 20px;
}

.div-wrapper .text-wrapper-104 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 96px;
  letter-spacing: 0;
  line-height: 14px;
  opacity: 0.4;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.div-wrapper .lnea-7 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 88px;
  width: 687px;
}

.div-wrapper .text-wrapper-105 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-106 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 403px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 602px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-107 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 424px;
  white-space: nowrap;
}
