.perfil-de-usuario {
  background-color: #eff5ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.perfil-de-usuario .div {
  background-color: #eff5ff;
  height: 1151px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.perfil-de-usuario .overlap {
  height: 346px;
  left: 299px;
  position: absolute;
  top: -2px;
  width: 1621px;
}

.perfil-de-usuario .overlap-group {
  height: 346px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1621px;
}

.perfil-de-usuario .overlap-2 {
  height: 326px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1621px;
}

.perfil-de-usuario .text-wrapper {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 152px;
  white-space: nowrap;
}

.perfil-de-usuario .text-wrapper-2 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 969px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 150px;
  white-space: nowrap;
}

.perfil-de-usuario .p {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 224px;
  white-space: nowrap;
}

.perfil-de-usuario .text-wrapper-3 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 913px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 212px;
  white-space: nowrap;
}

.perfil-de-usuario .aseg-rese-de-que {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 254px;
  white-space: nowrap;
}

.perfil-de-usuario .text-wrapper-4 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 913px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 242px;
  white-space: nowrap;
}

.perfil-de-usuario .la-verificaci-n-en {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 973px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 284px;
  white-space: nowrap;
}

.perfil-de-usuario .rectngulo {
  background-color: #ffffff;
  border-radius: 3px;
  height: 35px;
  left: 913px;
  position: absolute;
  top: 149px;
  width: 35px;
}

.perfil-de-usuario .rectngulo-2 {
  background-color: #cddc01;
  border-radius: 50px;
  height: 35px;
  left: 913px;
  position: absolute;
  top: 288px;
  width: 35px;
}

.perfil-de-usuario .grupo {
  height: 298px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1621px;
}

.perfil-de-usuario .overlap-3 {
  height: 298px;
  position: relative;
}

.perfil-de-usuario .rectngulo-3 {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000008;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1621px;
}

.perfil-de-usuario .componente {
  height: 45px;
  left: 1321px;
  position: absolute;
  top: 28px;
  width: 45px;
}

.perfil-de-usuario .sun-wrapper {
  height: 45px;
}

.perfil-de-usuario .sun {
  height: 20px;
  left: 13px;
  position: relative;
  top: 13px;
  width: 20px;
}

.perfil-de-usuario .overlap-group-2 {
  height: 17px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 17px;
}

.perfil-de-usuario .elipse {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 4px;
  height: 10px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 10px;
}

.perfil-de-usuario .trazado {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.perfil-de-usuario .img {
  height: 4px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 4px;
}

.perfil-de-usuario .trazado-2 {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 4px;
}

.perfil-de-usuario .trazado-3 {
  height: 4px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.perfil-de-usuario .trazado-4 {
  height: 4px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 2px;
}

.perfil-de-usuario .trazado-5 {
  height: 4px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 2px;
}

.perfil-de-usuario .trazado-6 {
  height: 2px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 4px;
}

.perfil-de-usuario .trazado-7 {
  height: 2px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 4px;
}

.perfil-de-usuario .grupo-wrapper {
  height: 45px;
  left: 1391px;
  position: absolute;
  top: 28px;
  width: 45px;
}

.perfil-de-usuario .grupo-2 {
  height: 45px;
  position: relative;
}

.perfil-de-usuario .oval {
  height: 6px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 6px;
}

.perfil-de-usuario .bell-ring {
  height: 20px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.perfil-de-usuario .overlap-group-3 {
  height: 17px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 22px;
}

.perfil-de-usuario .trazado-8 {
  height: 17px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 20px;
}

.perfil-de-usuario .trazado-9 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.perfil-de-usuario .trazado-10 {
  height: 8px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.perfil-de-usuario .trazado-11 {
  height: 3px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 6px;
}

.perfil-de-usuario .text-wrapper-5 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 35px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.perfil-de-usuario .chevron-right {
  height: 7px;
  left: 164px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 12px;
}

.perfil-de-usuario .componente-2 {
  height: 274px;
  left: 1218px;
  position: absolute;
  top: 24px;
  width: 302px;
}

.perfil-de-usuario .grupo-3 {
  background-color: #eff6ff;
  background-image: url(../../../static/img/enmascarar-grupo-2-7.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px;
  height: 48px;
  left: 251px;
  position: relative;
  width: 48px;
}

.perfil-de-usuario .componente-3 {
  height: 152px;
  left: 1250px;
  position: absolute;
  top: 27px;
  width: 144px;
}

.perfil-de-usuario .rectngulo-wrapper {
  height: 152px;
  position: relative;
}

.perfil-de-usuario .rectngulo-4 {
  border-radius: 2px;
  height: 32px;
  left: 7px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 32px;
}

.perfil-de-usuario .text-wrapper-6 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 925px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 294px;
  white-space: nowrap;
}

.perfil-de-usuario .lock-star-line {
  height: 22px;
  left: 921px;
  object-fit: cover;
  position: absolute;
  top: 155px;
  width: 20px;
}

.perfil-de-usuario .text-wrapper-7 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 47px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 326px;
  white-space: nowrap;
}

.perfil-de-usuario .chevron-right-2 {
  height: 12px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 330px;
  width: 7px;
}

.perfil-de-usuario .tu-aplicaci-n-de {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1272px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 368px;
  white-space: nowrap;
}

.perfil-de-usuario .overlap-4 {
  height: 691px;
  left: 332px;
  position: absolute;
  top: 376px;
  width: 712px;
}

.perfil-de-usuario .rectngulo-5 {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px #0000001a;
  height: 585px;
  left: 0;
  position: absolute;
  top: 0;
  width: 712px;
}

.perfil-de-usuario .text-wrapper-8 {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 148px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.perfil-de-usuario .rectngulo-6 {
  background-color: #f5f6f7;
  border-radius: 0px 0px 4px 4px;
  height: 546px;
  left: 0;
  position: absolute;
  top: 145px;
  width: 712px;
}

.perfil-de-usuario .text-wrapper-9 {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 180px;
  white-space: nowrap;
}

.perfil-de-usuario .text-wrapper-10 {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 376px;
  white-space: nowrap;
}

.perfil-de-usuario .rectngulo-7 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 206px;
  width: 290px;
}

.perfil-de-usuario .rectngulo-8 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 402px;
  width: 290px;
}

.perfil-de-usuario .grupo-4 {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 514px;
  position: absolute;
  top: 483px;
  width: 136px;
}

.perfil-de-usuario .text-wrapper-11 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 30px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.perfil-de-usuario .rectngulo-9 {
  background-color: #eaeef3;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 303px;
  width: 290px;
}

.perfil-de-usuario .text-wrapper-12 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 224px;
  white-space: nowrap;
}

.perfil-de-usuario .text-wrapper-13 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 420px;
  white-space: nowrap;
}

.perfil-de-usuario .text-wrapper-14 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 320px;
  white-space: nowrap;
}

.perfil-de-usuario .text-wrapper-15 {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 276px;
  white-space: nowrap;
}

.perfil-de-usuario .rectngulo-10 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 360px;
  position: absolute;
  top: 206px;
  width: 290px;
}

.perfil-de-usuario .text-wrapper-16 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 374px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 224px;
  white-space: nowrap;
}

.perfil-de-usuario .text-wrapper-17 {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 360px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 180px;
  white-space: nowrap;
}

.perfil-de-usuario .aseg-rese-de-que-2 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 148px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 70px;
  white-space: nowrap;
}

.perfil-de-usuario .rectngulo-11 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 360px;
  position: absolute;
  top: 303px;
  width: 290px;
}

.perfil-de-usuario .rectngulo-12 {
  background-color: #eaeef3;
  border-radius: 4px 0px 0px 4px;
  height: 48px;
  left: 360px;
  opacity: 0.4;
  position: absolute;
  top: 303px;
  width: 83px;
}

.perfil-de-usuario .text-wrapper-18 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 404px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 320px;
  white-space: nowrap;
}

.perfil-de-usuario .imagen {
  height: 13px;
  left: 374px;
  object-fit: cover;
  position: absolute;
  top: 321px;
  width: 20px;
}

.perfil-de-usuario .lnea {
  height: 48px;
  left: 443px;
  object-fit: cover;
  position: absolute;
  top: 303px;
  width: 1px;
}

.perfil-de-usuario .text-wrapper-19 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 457px;
  letter-spacing: 0;
  line-height: 14px;
  opacity: 0.4;
  position: absolute;
  top: 320px;
  white-space: nowrap;
}

.perfil-de-usuario .chevron-right-3 {
  height: 7px;
  left: 302px;
  object-fit: cover;
  position: absolute;
  top: 324px;
  width: 12px;
}

.perfil-de-usuario .lnea-2 {
  height: 48px;
  left: 288px;
  object-fit: cover;
  position: absolute;
  top: 303px;
  width: 1px;
}

.perfil-de-usuario .lnea-3 {
  height: 3px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 570px;
  width: 712px;
}

.perfil-de-usuario .grupo-5 {
  background-color: #562eff;
  background-image: url(../../../static/img/enmascarar-grupo-4.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 40px;
  height: 80px;
  left: 40px;
  position: absolute;
  top: 35px;
  width: 80px;
}

.perfil-de-usuario .enmascarar-grupo {
  height: 38px;
  left: 88px;
  object-fit: cover;
  position: absolute;
  top: 86px;
  width: 38px;
}

.perfil-de-usuario .text-wrapper-20 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 598px;
  white-space: nowrap;
}

.perfil-de-usuario .text-wrapper-21 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 630px;
  white-space: nowrap;
}

.perfil-de-usuario .grupo-6 {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 1212px;
  position: absolute;
  top: 454px;
  width: 144px;
}

.perfil-de-usuario .overlap-5 {
  height: 36px;
  left: 1212px;
  position: absolute;
  top: 373px;
  width: 35px;
}

.perfil-de-usuario .rectngulo-13 {
  background-color: #cddc01;
  border-radius: 50px;
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.perfil-de-usuario .text-wrapper-22 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 12px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.perfil-de-usuario .overlap-6 {
  height: 1462px;
  left: -6px;
  position: absolute;
  top: 0;
  width: 305px;
}

.perfil-de-usuario .rectangle {
  height: 1462px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 299px;
}

.perfil-de-usuario .rectangle-2 {
  background-color: #dbdbdb;
  height: 1080px;
  left: 304px;
  position: absolute;
  top: 0;
  width: 1px;
}

.perfil-de-usuario .logo-placeholder {
  height: 118px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 169px;
}

.perfil-de-usuario .componente-4 {
  height: 323px;
  left: 29px;
  position: absolute;
  top: 144px;
  width: 227px;
}

.perfil-de-usuario .text-wrapper-23 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 57px;
  white-space: nowrap;
}

.perfil-de-usuario .text-wrapper-24 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 128px;
  white-space: nowrap;
}

.perfil-de-usuario .text-wrapper-25 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 199px;
  white-space: nowrap;
}

.perfil-de-usuario .text-wrapper-26 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.perfil-de-usuario .chevron-right-4 {
  height: 12px;
  left: 220px;
  object-fit: cover;
  position: absolute;
  top: 203px;
  width: 7px;
}

.perfil-de-usuario .chevron-right-5 {
  height: 12px;
  left: 220px;
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 7px;
}

.perfil-de-usuario .layout-dashboard {
  height: 18px;
  left: 13px;
  position: absolute;
  top: 57px;
  width: 18px;
}

.perfil-de-usuario .rectngulo-14 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 1px;
  height: 11px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 9px;
}

.perfil-de-usuario .rectngulo-15 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 1px;
  height: 7px;
  left: 10px;
  position: absolute;
  top: -1px;
  width: 9px;
}

.perfil-de-usuario .rectngulo-16 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 1px;
  height: 11px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 9px;
}

.perfil-de-usuario .rectngulo-17 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 1px;
  height: 7px;
  left: -1px;
  position: absolute;
  top: 12px;
  width: 9px;
}

.perfil-de-usuario .wallet {
  height: 18px;
  left: 13px;
  position: absolute;
  top: 129px;
  width: 19px;
}

.perfil-de-usuario .overlap-group-4 {
  height: 20px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 21px;
}

.perfil-de-usuario .trazado-12 {
  height: 15px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 21px;
}

.perfil-de-usuario .trazado-13 {
  height: 18px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 20px;
}

.perfil-de-usuario .overlap-7 {
  height: 21px;
  left: 13px;
  position: absolute;
  top: 195px;
  width: 18px;
}

.perfil-de-usuario .square-user-round {
  height: 18px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 18px;
}

.perfil-de-usuario .overlap-8 {
  border-radius: 2px;
  height: 20px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 20px;
}

.perfil-de-usuario .trazado-14 {
  height: 8px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 14px;
}

.perfil-de-usuario .elipse-2 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 4px;
  height: 10px;
  left: 5px;
  position: absolute;
  top: 4px;
  width: 10px;
}

.perfil-de-usuario .rectngulo-18 {
  border: 2px solid;
  border-color: #8a8f9c;
  border-radius: 2px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.perfil-de-usuario .oval-2 {
  height: 4px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 4px;
}

.perfil-de-usuario .oval-3 {
  height: 4px;
  left: 19px;
  object-fit: cover;
  position: absolute;
  top: 313px;
  width: 4px;
}
