.feedback-solicitud {
  background-color: #00000073;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.feedback-solicitud .grupo-wrapper-4 {
  background-color: #00000073;
  height: 1074px;
  width: 1920px;
}

.feedback-solicitud .grupo-31 {
  background-color: #eafaf7;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #0000001a;
  height: 154px;
  left: 564px;
  position: relative;
  top: 60px;
  width: 792px;
}

.feedback-solicitud .text-wrapper-164 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 145px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.feedback-solicitud .ha-sido-enviado-a-tu {
  color: #008446;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  left: 145px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 76px;
  white-space: nowrap;
}

.feedback-solicitud .text-wrapper-165 {
  font-family: "Open Sans", Helvetica;
  font-weight: 300;
}

.feedback-solicitud .text-wrapper-166 {
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
}

.feedback-solicitud .frame-copy-4 {
  background-image: url(../../../static/img/frame-copy-6.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 30px;
  left: 726px;
  position: absolute;
  top: 32px;
  width: 30px;
}

.feedback-solicitud .overlap-group-15 {
  height: 15px;
  left: 8px;
  position: relative;
  top: 8px;
  width: 15px;
}

.feedback-solicitud .group-12 {
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.feedback-solicitud .line-7 {
  height: 16px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 16px;
}

.feedback-solicitud .overlap-56 {
  background-color: #b7ffdd;
  border-radius: 10px;
  height: 50px;
  left: 50px;
  position: absolute;
  top: 43px;
  width: 50px;
}

.feedback-solicitud .trazado-43 {
  height: 20px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 20px;
}
