.solicitud-de-screen {
  background-color: #f1f5f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.solicitud-de-screen .solicitud-de-2 {
  background-color: #f1f5f9;
  height: 1080px;
  width: 1920px;
}

.solicitud-de-screen .overlap-group-32 {
  height: 1080px;
  position: relative;
  width: 1662px;
}

.solicitud-de-screen .rectngulo-73 {
  background-color: #562f7f;
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1425px;
}

.solicitud-de-screen .rectngulo-74 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 758px;
  left: 1148px;
  position: absolute;
  top: 167px;
  width: 514px;
}

.solicitud-de-screen .text-wrapper-334 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 1198px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 323px;
  white-space: nowrap;
}

.solicitud-de-screen .text-wrapper-335 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  left: 1198px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 364px;
  width: 370px;
}

.solicitud-de-screen .text-wrapper-336 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 1198px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 454px;
  white-space: nowrap;
}

.solicitud-de-screen .rectngulo-75 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 1198px;
  position: absolute;
  top: 480px;
  width: 422px;
}

.solicitud-de-screen .trazado-92 {
  height: 66px;
  left: 1189px;
  object-fit: cover;
  position: absolute;
  top: 825px;
  width: 440px;
}

.solicitud-de-screen .text-wrapper-337 {
  color: #ffffff;
  display: block;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 1376px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 846px;
  white-space: nowrap;
}

.solicitud-de-screen .rectngulo-76 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 1198px;
  position: absolute;
  top: 577px;
  width: 422px;
}

.solicitud-de-screen .text-wrapper-338 {
  color: #95989a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1212px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 498px;
  white-space: nowrap;
}

.solicitud-de-screen .text-wrapper-339 {
  color: #95989a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1212px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 594px;
  white-space: nowrap;
}

.solicitud-de-screen .text-wrapper-340 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 1198px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 550px;
  white-space: nowrap;
}

.solicitud-de-screen .logo-placeholder-9 {
  height: 156px;
  left: 1154px;
  object-fit: cover;
  position: absolute;
  top: 187px;
  width: 223px;
}

.solicitud-de-screen .b-preview {
  background-image: url(../../../static/img/combined-shape-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 15px;
  left: 1576px;
  position: absolute;
  top: 498px;
  width: 17px;
}

.solicitud-de-screen .b-preview-2 {
  background-image: url(../../../static/img/combined-shape-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 15px;
  left: 1576px;
  position: absolute;
  top: 592px;
  width: 17px;
}

.solicitud-de-screen .tu-clave-de-acceso {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  height: 137px;
  left: 1198px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 645px;
  width: 388px;
}

.solicitud-de-screen .text-wrapper-341 {
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
}

.solicitud-de-screen .text-wrapper-342 {
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
}
