.login {
  background-color: #f1f5f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .overlap-group-wrapper-2 {
  background-color: #f1f5f9;
  height: 1080px;
  width: 1920px;
}

.login .overlap-group-25 {
  height: 1080px;
  position: relative;
  width: 1662px;
}

.login .portal {
  height: 1080px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1425px;
}

.login .rectngulo-49 {
  background-color: #562f7f;
  height: 1080px;
  left: 0;
  opacity: 0.03;
  position: absolute;
  top: 0;
  width: 1425px;
}

.login .rectngulo-50 {
  background: rgb(240,240,240);
  background: linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
  border-radius: 10px;
  height: 683px;
  left: 1148px;
  position: absolute;
  top: 189px;
  width: 514px;
}

.login .text-wrapper-272 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 1198px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 345px;
  white-space: nowrap;
}

.login .ingresa-tu-correo {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  height: 48px;
  left: 1198px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 386px;
  width: 370px;
}

.login .text-wrapper-273 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
}

.login .text-wrapper-274 {
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
}

.login .text-wrapper-275 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 1198px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 558px;
  white-space: nowrap;
}

.login .rectngulo-51 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 1198px;
  position: absolute;
  top: 584px;
  width: 422px;
}

.login .componente-26 {
  height: 48px;
  left: 1198px;
  position: absolute;
  top: 749px;
  width: 422px;
}

.login .trazado-72 {
  height: 66px;
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: -6px;
  width: 440px;
}

.login .text-wrapper-276 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 1355px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 764px;
  white-space: nowrap;
}

.login .rectngulo-52 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 1198px;
  position: absolute;
  top: 681px;
  width: 422px;
}

.login .correo-electronico {
  background-color: transparent;
  border: 0;
  color: #95989a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 1212px;
  letter-spacing: 0;
  line-height: 14px;
  padding: 0;
  position: absolute;
  top: 599px;
  white-space: nowrap;
  width: 116px;
}

.login .contrasea {
  background-color: transparent;
  border: 0;
  color: #95989a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 21px;
  left: 1212px;
  letter-spacing: 0;
  line-height: 14px;
  padding: 0;
  position: absolute;
  top: 696px;
  white-space: nowrap;
  width: 72px;
}

.login .text-wrapper-277 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 12px;
  font-weight: 600;
  left: 1483px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  top: 655px;
  white-space: nowrap;
}

.login .text-wrapper-278 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 1198px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 654px;
  white-space: nowrap;
}

.login .text-wrapper-279 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1212px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 464px;
  white-space: nowrap;
}

.login .chevron-right-19 {
  height: 12px;
  left: 1198px;
  object-fit: cover;
  position: absolute;
  top: 470px;
  width: 7px;
}

.login .logo-placeholder-6 {
  height: 156px;
  left: 1154px;
  object-fit: cover;
  position: absolute;
  top: 209px;
  width: 223px;
}

button.text-wrapper-276 {
  background-color: #3f88cb;
  border: 0px;
  cursor:pointer;
 
}

.contrasea, .correo-electronico{
  border:0px!important;
  width: 200px!important;
  outline: none!important;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


/* Media query para Portatiles (menos de 768px de ancho) */
@media (max-width: 1536px) {
  .login .overlap-group-wrapper-2 {
    background-color: #f1f5f9;
    width: 100%!important;
    height: 100%!important;
}
  .login .overlap-group-25 {
    width: 100%;
    height: 100%;
     }
     .login .portal {
      object-fit: cover;
      width: 1366px;
      height: 850px;
      position: absolute;
      top: 0;
      left: 0;
  }
  .login .rectngulo-50 {
    background: linear-gradient(0deg, #f0f0f0 0%, #fff 67% 100%);
    border-radius: 10px;
    width: 514px;
    height: 683px;
    position: absolute;
    top: 98px;
    left: 954px;
  }
.login .logo-placeholder-6 {
  object-fit: cover;
  width: 223px;
  height: 156px;
  position: absolute;
  top: 100px;
  left: 964px;
  }
  .login .text-wrapper-272 {
    color: #51626e;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: Open Sans, Helvetica;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    position: absolute;
    top: 246px;
    left: 1004px;
  }
  .login .ingresa-tu-correo {
    color: #168eea;
    letter-spacing: 0;
    width: 370px;
    height: 48px;
    font-family: Open Sans, Helvetica;
    font-size: 14px;
    line-height: 22px;
    position: absolute;
    top: 290px;
    left: 1004px;
 }
 .login .chevron-right-19 {
  object-fit: cover;
  width: 7px;
  height: 12px;
  position: absolute;
  top: 366px;
  left: 1004px;
}
.login .text-wrapper-279 {
  color: #168eea;
  letter-spacing: 0;
  white-space: nowrap;
  font-family: Open Sans, Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  position: absolute;
  top: 360px;
  left: 1016px;
  }
  .login .text-wrapper-275 {
    color: #59626a;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: Open Sans, Helvetica;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    position: absolute;
    top: 429px;
    left: 1004PX;
 }
 .login .rectngulo-51 {
  background-color: #fff;
  border-radius: 6px;
  width: 422px;
  height: 48px;
  position: absolute;
  top: 465px;
  left: 1004PX;
  box-shadow: 0 3px 6px #00000005;
  }
  .login .correo-electronico {
    color: #95989a;
    letter-spacing: 0;
    white-space: nowrap;
    background-color: #0000;
    border: 0;
    width: 116px;
    height: 21px;
    padding: 0;
    font-family: Open Sans, Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    position: absolute;
    top: 478px;
    left: 1014px;
  }
  .login .rectngulo-52 {
    background-color: #fff;
    border-radius: 6px;
    width: 422px;
    height: 48px;
    position: absolute;
    top: 565px;
    left: 1004px;
    box-shadow: 0 3px 6px #00000005;
  }
  .login .text-wrapper-278 {
    color: #59626a;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: Open Sans, Helvetica;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    position: absolute;
    top: 535px;
    left: 1004px;
  }
  .login .contrasea {
    color: #95989a;
    letter-spacing: 0;
    white-space: nowrap;
    background-color: #0000;
    border: 0;
    width: 72px;
    height: 21px;
    padding: 0;
    font-family: Open Sans, Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    position: absolute;
    top: 578px;
    left: 1014px;
  }
  .login .text-wrapper-277 {
    color: #168eea;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: Open Sans, Helvetica;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    position: absolute;
    top: 535px;
    left: 1272px;
  }
  .login .text-wrapper-276 {
    color: #fff;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: Open Sans, Helvetica;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    position: absolute;
    top: 666px;
    left: 1154px;
}
.login .componente-26 {
  top: 650px;
  left: 1004px;

  }
  
  
}
@media (max-width: 1280px) {
  .login .overlap-group-wrapper-2 {
    background-color: #f1f5f9;
    width: 100%!important;
    height: 100%!important;
}
  .login .overlap-group-25 {
    width: 100%;
    height: 100%;
     }
     .login .portal {
      object-fit: cover;
      width: 1044px;
      height: 630px;
      position: absolute;
      top: 0;
      left: 0;
  }
  .login .rectngulo-50 {
    background: linear-gradient(0deg, #f0f0f0 0%, #fff 67% 100%);
    border-radius: 10px;
    width: 438px;
    height: 530px;
    position: absolute;
    top: 42px;
    left: 764px;
  }
  .login .logo-placeholder-6 {
    object-fit: cover;
    width: 153px!important;
    height: 56px!important;
    position: absolute;
    top: 77px;
    left: 769px;
}
  .login .text-wrapper-272 {
    color: #51626e;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: Open Sans, Helvetica;
    font-size: 20px!important;
    font-weight: 600;
    line-height: 24px;
    position: absolute;
    top: 139px;
    left: 800px;
  }
  .login .ingresa-tu-correo {
    color: #168eea;
    letter-spacing: 0;
    width: 370px;
    height: 48px;
    font-family: Open Sans, Helvetica;
    font-size: 10px;
    padding-right: 64px;
    line-height: 22px;
    position: absolute;
    top: 177px;
    left: 800px;
}
 .login .chevron-right-19 {
  object-fit: cover;
  width: 4px;
  height: 7px;
  position: absolute;
  top: 233px;
  left: 800px;
}
.login .text-wrapper-279 {
  color: #168eea;
  letter-spacing: 0;
  white-space: nowrap;
  font-family: Open Sans, Helvetica;
  font-size: 10px;
  font-weight: 400;
  line-height: 22px;
  position: absolute;
  top: 225px;
  left: 806px;
}
  .login .text-wrapper-275 {
    color: #59626a;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: Open Sans, Helvetica;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    position: absolute;
    top: 281px;
    left: 800PX;
 }
 .login .rectngulo-51 {
  background-color: #fff;
  border-radius: 6px;
  width: 380px;
  height: 38px;
  position: absolute;
  top: 306px;
  left: 800PX;
  box-shadow: 0 3px 6px #00000005;
  }
  .login .correo-electronico {
    color: #95989a;
    letter-spacing: 0;
    white-space: nowrap;
    background-color: #0000;
    border: 0;
    width: 116px;
    height: 21px;
    padding: 0;
    font-family: Open Sans, Helvetica;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    position: absolute;
    top: 313px;
    left: 814px;
  }
  .login .rectngulo-52 {
    background-color: #fff;
    border-radius: 6px;
    width: 380px;
    height: 38px;
    position: absolute;
    top: 387px;
    left: 800px;
    box-shadow: 0 3px 6px #00000005;
  }
  .login .text-wrapper-278 {
    color: #59626a;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: Open Sans, Helvetica;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    position: absolute;
    top: 353px;
    left: 800px;
  }
  .login .contrasea {
    color: #95989a;
    letter-spacing: 0;
    white-space: nowrap;
    background-color: #0000;
    border: 0;
    width: 72px;
    height: 21px;
    padding: 0;
    font-family: Open Sans, Helvetica;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    position: absolute;
    top: 394px;
    left: 814px;
  }
  .login .text-wrapper-277 {
    color: #168eea;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: Open Sans, Helvetica;
    font-size: 8px;
    font-weight: 600;
    line-height: 12px;
    position: absolute;
    top: 368px;
    left: 1043px;
  }
  .login .text-wrapper-276 {
    color: #fff;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: Open Sans, Helvetica;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    position: absolute;
    top: 469px;
    left: 800px;
    width: 380px;
    height: 38px;
    border-radius: 5px;
}

.login .componente-26 {
 display: none;
}
  
  
}