.login {
  background-color: #f1f5f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .overlap-group-wrapper {
  background-color: #f1f5f9;
  height: 1080px;
  width: 1920px;
}

.login .overlap-group {
  height: 1080px;
  position: relative;
  width: 1662px;
}

.login .rectngulo {
  background-color: #562f7f;
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1425px;
}

.login .div {
  background-color: #ffffff;
  border-radius: 10px;
  height: 683px;
  left: 1148px;
  position: absolute;
  top: 189px;
  width: 514px;
}

.login .text-wrapper {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 1198px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 345px;
  white-space: nowrap;
}

.login .ingresa-tu-correo {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  height: 48px;
  left: 1198px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 386px;
  width: 370px;
}

.login .span {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
}

.login .text-wrapper-2 {
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
}

.login .rectngulo-2 {
  background-color: #f5f6f7;
  border-radius: 0px 0px 10px 10px;
  height: 347px;
  left: 1148px;
  position: absolute;
  top: 525px;
  width: 514px;
}

.login .text-wrapper-3 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 1198px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 558px;
  white-space: nowrap;
}

.login .rectngulo-3 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 1198px;
  position: absolute;
  top: 584px;
  width: 422px;
}

.login .componente {
  height: 48px;
  left: 1198px;
  position: absolute;
  top: 749px;
  width: 422px;
}

.login .trazado {
  height: 66px;
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: -6px;
  width: 440px;
}

.login .text-wrapper-4 {
  color: #ffffff;
  display: block;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 1355px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 764px;
  white-space: nowrap;
}

.login .rectngulo-4 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 1198px;
  position: absolute;
  top: 681px;
  width: 422px;
}

.login .text-wrapper-5 {
  color: #95989a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1212px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 602px;
  white-space: nowrap;
}

.login .text-wrapper-6 {
  color: #95989a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1212px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 698px;
  white-space: nowrap;
}

.login .text-wrapper-7 {
  color: #168eea;
  display: block;
  font-family: "Open Sans", Helvetica;
  font-size: 12px;
  font-weight: 600;
  left: 1483px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  top: 655px;
  white-space: nowrap;
}

.login .text-wrapper-8 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 1198px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 654px;
  white-space: nowrap;
}

.login .p {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1212px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 464px;
  white-space: nowrap;
}

.login .chevron-right {
  height: 12px;
  left: 1198px;
  object-fit: cover;
  position: absolute;
  top: 470px;
  width: 7px;
}

.login .logo-placeholder {
  height: 156px;
  left: 1154px;
  object-fit: cover;
  position: absolute;
  top: 209px;
  width: 223px;
}
