.usuarios-gestin-de {
  background-color: #00000073;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.usuarios-gestin-de .grupo-wrapper-2 {
  background-color: #00000073;
  height: 1074px;
  width: 1920px;
}

.usuarios-gestin-de .grupo-7 {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px #0000001a;
  height: 677px;
  left: 617px;
  position: relative;
  top: 185px;
  width: 687px;
}

.usuarios-gestin-de .text-wrapper-27 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 116px;
  white-space: nowrap;
}

.usuarios-gestin-de .text-wrapper-28 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 356px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 116px;
  white-space: nowrap;
}

.usuarios-gestin-de .text-wrapper-29 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 356px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 322px;
  white-space: nowrap;
}

.usuarios-gestin-de .overlap-9 {
  background-color: #eaeef3;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 143px;
  width: 283px;
}

.usuarios-gestin-de .text-wrapper-30 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.usuarios-gestin-de .overlap-10 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 356px;
  position: absolute;
  top: 349px;
  width: 290px;
}

.usuarios-gestin-de .grupo-8 {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 514px;
  position: absolute;
  top: 586px;
  width: 136px;
}

.usuarios-gestin-de .text-wrapper-31 {
  color: #ffffff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 36px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.usuarios-gestin-de .overlap-11 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 242px;
  width: 290px;
}

.usuarios-gestin-de .chevron-right-6 {
  height: 7px;
  left: 261px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 12px;
}

.usuarios-gestin-de .lnea-4 {
  height: 48px;
  left: 246px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 1px;
}

.usuarios-gestin-de .overlap-12 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 490px;
  width: 290px;
}

.usuarios-gestin-de .text-wrapper-32 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 216px;
  white-space: nowrap;
}

.usuarios-gestin-de .text-wrapper-33 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 464px;
  white-space: nowrap;
}

.usuarios-gestin-de .overlap-13 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 40px;
  position: absolute;
  top: 349px;
  width: 290px;
}

.usuarios-gestin-de .overlap-14 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 356px;
  position: absolute;
  top: 143px;
  width: 290px;
}

.usuarios-gestin-de .text-wrapper-34 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 322px;
  white-space: nowrap;
}

.usuarios-gestin-de .overlap-group-5 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #f0f0f0;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 356px;
  position: absolute;
  top: 242px;
  width: 290px;
}

.usuarios-gestin-de .overlap-15 {
  border-radius: 4px 0px 0px 4px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 83px;
}

.usuarios-gestin-de .rectngulo-19 {
  background-color: #eaeef3;
  border-radius: 4px 0px 0px 4px;
  height: 48px;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 83px;
}

.usuarios-gestin-de .text-wrapper-35 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.usuarios-gestin-de .imagen-2 {
  height: 13px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 20px;
}

.usuarios-gestin-de .text-wrapper-36 {
  color: #838eab;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 96px;
  letter-spacing: 0;
  line-height: 14px;
  opacity: 0.4;
  position: absolute;
  top: 16px;
  white-space: nowrap;
}

.usuarios-gestin-de .lnea-5 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 88px;
  width: 687px;
}

.usuarios-gestin-de .text-wrapper-37 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
}

.usuarios-gestin-de .text-wrapper-38 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 403px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 602px;
  white-space: nowrap;
}

.usuarios-gestin-de .text-wrapper-39 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 424px;
  white-space: nowrap;
}
