.usuarios-gestin-de {
  background-color: #00000073;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.usuarios-gestin-de .grupo-wrapper-3 {
  background-color: #00000073;
  height: 1074px;
  width: 1920px;
}

.usuarios-gestin-de .grupo-30 {
  background-color: #fef2f2;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #0000001a;
  height: 177px;
  left: 564px;
  position: relative;
  top: 60px;
  width: 792px;
}

.usuarios-gestin-de .text-wrapper-160 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 145px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.usuarios-gestin-de .text-wrapper-161 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 145px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 129px;
  white-space: nowrap;
}

.usuarios-gestin-de .recuerda-realizar-la {
  color: #dc363c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  left: 145px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 76px;
  white-space: nowrap;
}

.usuarios-gestin-de .text-wrapper-162 {
  font-family: "Open Sans", Helvetica;
  font-weight: 300;
}

.usuarios-gestin-de .text-wrapper-163 {
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
}

.usuarios-gestin-de .frame-copy-3 {
  background-image: url(../../../static/img/frame-copy-6.png);
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  height: 30px;
  left: 726px;
  position: absolute;
  top: 32px;
  width: 30px;
}

.usuarios-gestin-de .overlap-group-14 {
  height: 15px;
  left: 8px;
  position: relative;
  top: 8px;
  width: 15px;
}

.usuarios-gestin-de .group-11 {
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.usuarios-gestin-de .line-6 {
  height: 16px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 16px;
}

.usuarios-gestin-de .overlap-55 {
  background-color: #ffe6e6;
  border-radius: 10px;
  height: 50px;
  left: 50px;
  position: absolute;
  top: 39px;
  width: 50px;
}

.usuarios-gestin-de .trazado-42 {
  height: 20px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 20px;
}
