.cuenta-estado-de-screen {
  background-color: #00000073;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cuenta-estado-de-screen .cuenta-estado-de-2 {
  background-color: #00000073;
  height: 1070px;
  width: 1920px;
}

.cuenta-estado-de-screen .grupo-41 {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #0000001a;
  height: 669px;
  position: relative;
  top: 401px;
}

.cuenta-estado-de-screen .lnea-11 {
  height: 2px;
  left: 83px;
  object-fit: cover;
  position: absolute;
  top: 110px;
  width: 1750px;
}

.cuenta-estado-de-screen .detalle-de-pago-f {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  left: 83px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 57px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-207 {
  color: #262626;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
}

.cuenta-estado-de-screen .text-wrapper-208 {
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
}

.cuenta-estado-de-screen .overlap-79 {
  background-image: url(../../../static/img/rectangle-2-7.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 491px;
  left: 82px;
  position: absolute;
  top: 134px;
  width: 710px;
}

.cuenta-estado-de-screen .dashboard-3 {
  color: #2b80ff;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 46px;
  letter-spacing: 0;
  line-height: 19px;
  position: absolute;
  top: 81px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-209 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 47px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 44px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-210 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 47px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 242px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .identificaci-n {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  left: 47px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 109px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-211 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-weight: 600;
}

.cuenta-estado-de-screen .text-wrapper-212 {
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
}

.cuenta-estado-de-screen .text-wrapper-213 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 47px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 156px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-214 {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 49px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 183px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-215 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 49px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 288px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-216 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 49px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 330px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .fecha {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  left: 893px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 228px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-217 {
  color: #51626e;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
}

.cuenta-estado-de-screen .text-wrapper-218 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 895px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 360px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-219 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 895px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 432px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-220 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 1265px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 432px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .overlap-80 {
  height: 53px;
  left: 895px;
  position: absolute;
  top: 260px;
  width: 161px;
}

.cuenta-estado-de-screen .text-wrapper-221 {
  color: #8a8f9c;
  font-family: "Open Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-222 {
  color: #168eea;
  font-family: "Open Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.cuenta-estado-de-screen .overlap-81 {
  height: 53px;
  left: 1205px;
  position: absolute;
  top: 260px;
  width: 213px;
}

.cuenta-estado-de-screen .overlap-82 {
  height: 53px;
  left: 1555px;
  position: absolute;
  top: 260px;
  width: 72px;
}

.cuenta-estado-de-screen .text-wrapper-223 {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 895px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 386px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-224 {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 895px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 459px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-225 {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1265px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 459px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .text-wrapper-226 {
  color: #959595;
  font-family: "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 895px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 483px;
  white-space: nowrap;
}

.cuenta-estado-de-screen .frame-copy-3 {
  background-image: url(../../../static/img/frame-copy-3.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 30px;
  left: 1783px;
  position: absolute;
  top: 53px;
  width: 30px;
}

.cuenta-estado-de-screen .overlap-group-19 {
  height: 15px;
  left: 8px;
  position: relative;
  top: 8px;
  width: 15px;
}

.cuenta-estado-de-screen .group-5 {
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.cuenta-estado-de-screen .line-10 {
  height: 16px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 16px;
}

.cuenta-estado-de-screen .grupo-42 {
  background-color: #168eea;
  border-radius: 6px;
  box-shadow: 0px 3px 6px #00000005;
  height: 48px;
  left: 1696px;
  position: absolute;
  top: 183px;
  width: 54px;
}

.cuenta-estado-de-screen .download-3 {
  height: 18px;
  left: 18px;
  position: relative;
  top: 15px;
  width: 18px;
}

.cuenta-estado-de-screen .overlap-group-20 {
  height: 20px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 20px;
}

.cuenta-estado-de-screen .trazado-49 {
  height: 8px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 20px;
}

.cuenta-estado-de-screen .trazado-50 {
  height: 7px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 13px;
}

.cuenta-estado-de-screen .lnea-12 {
  height: 14px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 2px;
}

.cuenta-estado-de-screen .text-wrapper-227 {
  color: #59626a;
  font-family: "Open Sans", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 893px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 192px;
  white-space: nowrap;
}
