.lnea50Icon {
  position: absolute;
  width: calc(100% - 170px);
  top: 109.5px;
  right: 87.5px;
  left: 82.5px;
  max-width: 100%;
  overflow: hidden;
  height: 2px;
}
.detalleDePagoContainer {
  position: absolute;
  top: 53px;
  left: 83px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
}
.rectangle2Icon {
  position: absolute;
  bottom: 43.7px;
  left: 82.5px;
  width: 709.7px;
  height: 490.8px;
}
.b {
  color: var(--color-cornflowerblue);
}
.fecha10032024 {
  position: absolute;
  top: calc(50% - 107.34px);
  left: calc(50% - 67px);
  font-size: var(--font-size-lg);
  line-height: 22px;
  color: var(--color-dimgray-200);
}
.cuentaBancariaDe,
.memo,
.mtodoDePago {
  position: absolute;
  top: calc(50% + 22.34px);
  left: calc(50% - 64.92px);
  font-size: var(--font-size-lg);
}
.cuentaBancariaDe,
.mtodoDePago {
  top: calc(50% + 94.98px);
}
.mtodoDePago {
  left: calc(50% + 305.08px);
}
.importe {
  left: calc(50% - 64.92px);
}
.diario,
.importe,
.moneda {
  position: absolute;
  top: calc(50% - 50.71px);
  font-size: var(--font-size-lg);
}
.diario {
  left: calc(50% + 245.08px);
}
.moneda {
  right: 290.92px;
}
.s35700Pen {
  left: calc(50% - 64.92px);
}
.bancoDeLa,
.s35700Pen,
.soles {
  position: absolute;
  top: calc(50% - 78.34px);
  font-size: var(--font-size-5xl);
  color: var(--color-cornflowerblue);
}
.bancoDeLa {
  left: calc(50% + 245.08px);
}
.soles {
  right: 301.92px;
}
.bancoDeLa1,
.div,
.e0010000000110Fiber,
.manual {
  position: absolute;
  top: calc(50% + 48.98px);
  left: calc(50% - 64.92px);
  color: var(--color-darkgray-200);
}
.bancoDeLa1,
.div,
.manual {
  top: calc(50% + 121.61px);
}
.bancoDeLa1,
.manual {
  left: calc(50% + 305.08px);
}
.bancoDeLa1 {
  top: calc(50% + 145.61px);
  left: calc(50% - 64.92px);
}
.frameCopyIcon {
  position: absolute;
  top: 53px;
  right: 107px;
  width: 30px;
  height: 30px;
}
.downloadIcon {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
  width: 20px;
  height: 20px;
}
.grupo37469 {
  position: absolute;
  top: calc(50% - 151.5px);
  right: 170px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  background-color: var(--color-cornflowerblue);
  width: 54px;
  height: 48px;
}
.dashboard {
  position: absolute;
  top: calc(50% - 120.34px);
  left: 6.72%;
  line-height: 19px;
  color: var(--color-royalblue);
}
.datosDelCliente {
  top: calc(50% - 158.34px);
  left: 129.08px;
}
.datosDelCliente,
.informacinGeneralDel,
.serviciosAsociados {
  position: absolute;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.serviciosAsociados {
  top: calc(50% + 39.66px);
  left: 129.08px;
}
.informacinGeneralDel {
  top: calc(50% - 145.34px);
  left: calc(50% - 67px);
}
.identificacinFiscal {
  margin: 0;
  font-weight: 600;
}
.p {
  margin: 0;
  color: var(--color-darkgray-200);
}
.direccin,
.identificacinFiscal20604630 {
  position: absolute;
  top: calc(50% - 95.71px);
  left: 129.08px;
  color: var(--color-dimgray-200);
}
.direccin {
  top: calc(50% - 46.34px);
  font-weight: 600;
}
.mzal18Lote25chmariscal {
  position: absolute;
  top: calc(50% - 19.34px);
  left: 131.04px;
  color: var(--color-darkgray-200);
}
.serv0010PuertaA,
.serv0020Crossconexin {
  position: absolute;
  top: calc(50% + 85.66px);
  left: 131.04px;
}
.serv0020Crossconexin {
  top: calc(50% + 127.66px);
}
.grupo37725 {
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  width: 1920px;
  height: 669px;
}
.cuentaEstadoDeCuentaDet {
  position: relative;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 1070px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray-100);
  font-family: var(--font-open-sans);
}
