.rectngulo6357,
.rectngulo6358 {
  position: absolute;
  bottom: 141px;
  height: 399px;
}
.rectngulo6357 {
  left: 332px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 1057px;
}
.rectngulo6358 {
  left: 1048px;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: #f9f9f9;
  width: 341px;
}
.trazado29741Icon {
  position: absolute;
  top: 130px;
  right: 109px;
  width: 260px;
  height: 378px;
}
.dashboardChild,
.rectangle2Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 299px;
  height: 1462px;
}
.dashboardChild {
  left: 298px;
  background-color: var(--color-gainsboro);
  width: 1px;
  height: 1080px;
}
.logoPlaceholder3RemovebgPrIcon {
  position: absolute;
  top: 12px;
  left: -6px;
  width: 169px;
  height: 118px;
  object-fit: cover;
}
.rectangleIcon {
  position: absolute;
  width: 100%;
  top: 41px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 49.7px;
}
.cuenta,
.dashboard1,
.usuarios {
  position: absolute;
  top: calc(50% - 106.65px);
  left: calc(50% - 72.12px);
  color: var(--color-steelblue-100);
}
.cuenta,
.usuarios {
  top: calc(50% - 35.65px);
  color: var(--color-lightslategray-100);
}
.usuarios {
  top: calc(50% + 35.35px);
}
.listadoDeUsuarios,
.listadoDeUsuarios1 {
  position: absolute;
  left: calc(50% - 72.12px);
  font-size: var(--font-size-sm);
  opacity: 0;
}
.listadoDeUsuarios {
  bottom: 0;
}
.listadoDeUsuarios1 {
  top: calc(50% + 24.35px);
}
.menu {
  position: absolute;
  top: 0;
  left: 5.83px;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.chevronRightIcon,
.chevronRightIcon1 {
  position: absolute;
  top: calc(50% + 41.65px);
  right: 28.77px;
  width: 7.3px;
  height: 12px;
}
.chevronRightIcon1 {
  top: calc(50% - 29.35px);
}
.rectngulo6345 {
  top: -2px;
  left: -2px;
  height: 11px;
}
.rectngulo6345,
.rectngulo6346,
.rectngulo6347,
.rectngulo6348 {
  position: absolute;
  border-radius: var(--br-12xs);
  border: 2px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 9px;
}
.rectngulo6346 {
  top: -2px;
  right: 0;
  height: 7px;
}
.rectngulo6347,
.rectngulo6348 {
  bottom: 0;
}
.rectngulo6347 {
  right: 0;
  height: 11px;
}
.rectngulo6348 {
  left: -2px;
  height: 7px;
}
.layoutDashboard,
.walletIcon {
  position: absolute;
  top: calc(50% - 104.35px);
  left: 18.83px;
  width: 18px;
  height: 18px;
}
.walletIcon {
  top: calc(50% - 32.35px);
  width: 21px;
  height: 20px;
}
.trazado2499Icon {
  position: absolute;
  width: calc(100% - 4px);
  right: 2px;
  bottom: -1px;
  left: 2px;
  max-width: 100%;
  overflow: hidden;
  height: 8px;
}
.elipse366Icon {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 5px);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.squareUserRound {
  position: absolute;
  top: calc(50% + 34.65px);
  left: 16.83px;
  border-radius: var(--br-11xs);
  border: 2px solid var(--color-lightslategray-100);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.ovalIcon,
.ovalIcon1 {
  position: absolute;
  left: 24.83px;
  width: 4px;
  height: 4px;
  opacity: 0;
}
.ovalIcon {
  bottom: 5.7px;
}
.ovalIcon1 {
  top: calc(50% + 33.65px);
}
.componente191 {
  position: absolute;
  top: 144px;
  left: 17.17px;
  width: 261.9px;
  height: 322.7px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.bienvenidoSalvador {
  position: absolute;
  top: 239px;
  left: 332px;
  font-size: 33px;
  color: var(--color-dimgray-100);
}
.deAbril2024 {
  position: absolute;
  top: 202px;
  left: 332px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-cornflowerblue);
}
.consultaTuEstado {
  margin: 0;
}
.pcp {
  font-family: var(--font-open-sans);
  color: var(--color-cornflowerblue);
}
.consultaTuEstadoContainer {
  position: absolute;
  top: 289px;
  left: 332px;
  font-size: var(--font-size-base);
  line-height: 22px;
  color: var(--color-gray-100);
}
.enmascararGrupo34 {
  position: absolute;
  top: 130px;
  right: 109px;
  width: 260px;
  height: 378px;
  opacity: 0.05;
}
.agregadosRecientemente {
  position: absolute;
  top: 409px;
  right: 170px;
  color: var(--color-white);
}
.elipse462Icon,
.grupo1674Icon,
.grupo1675Icon,
.grupo1676Icon {
  position: absolute;
  top: 435px;
  width: 58px;
  height: 58px;
  object-fit: cover;
}
.elipse462Icon {
  right: 281px;
  border-radius: 50%;
}
.grupo1674Icon,
.grupo1675Icon,
.grupo1676Icon {
  right: 253px;
}
.grupo1674Icon,
.grupo1676Icon {
  right: 226px;
}
.grupo1676Icon {
  right: 198px;
}
.elipse470Icon {
  height: calc(100% + 18px);
  width: calc(100% + 18px);
  top: 0;
  right: -18px;
  bottom: -18px;
  left: 0;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div,
.elipse470Icon,
.grupo1647 {
  position: absolute;
}
.div {
  top: calc(50% - 10px);
  left: calc(50% - 8px);
  font-weight: 800;
}
.grupo1647 {
  top: 435px;
  right: 189px;
  width: 40px;
  height: 40px;
  font-size: 13px;
  color: var(--color-cornflowerblue);
  font-family: var(--font-avenir);
}
.rectngulo6352,
.rectngulo6355 {
  position: absolute;
  border-radius: var(--br-3xs);
}
.rectngulo6352 {
  top: 164px;
  right: 294px;
  background-color: #6b3e9a;
  width: 50px;
  height: 50px;
}
.rectngulo6355 {
  top: 130px;
  left: 787px;
  background-color: var(--color-white);
  width: 338px;
  height: 378px;
}
.valorPresentadoEn {
  position: absolute;
  top: 289px;
  left: 818px;
  font-weight: 300;
}
.serv0010PuertaAContainer,
.serv0010PuertaAContainer1 {
  position: absolute;
  top: 596px;
  left: 804px;
  font-weight: 300;
}
.serv0010PuertaAContainer1 {
  top: 672px;
}
.serv0010PuertaAContainer2,
.serv0010PuertaAContainer3 {
  position: absolute;
  top: 747px;
  left: 804px;
  font-weight: 300;
}
.serv0010PuertaAContainer3 {
  top: 819px;
}
.finanzasPit {
  position: absolute;
  top: 635px;
  left: 804px;
  font-size: var(--font-size-xs);
}
.pendiente {
  color: var(--color-crimson-100);
}
.disponeDeUnaContainer {
  position: absolute;
  top: 353px;
  left: 352px;
}
.finanzasPit1,
.finanzasPit2,
.finanzasPit3 {
  position: absolute;
  top: 711px;
  left: 804px;
  font-size: var(--font-size-xs);
}
.finanzasPit2,
.finanzasPit3 {
  top: 786px;
}
.finanzasPit3 {
  top: 858px;
}
.balance {
  top: 227px;
  left: 818px;
}
.balance,
.prximosPagos,
.totalUsuarios {
  position: absolute;
  font-size: var(--font-size-3xl);
}
.prximosPagos {
  top: 574px;
  left: 364px;
}
.totalUsuarios {
  top: 340px;
  right: 198px;
  color: var(--color-white);
}
.s312700 {
  top: 253px;
  left: 818px;
  font-size: var(--font-size-7xl);
}
.das,
.div1,
.s312700 {
  position: absolute;
  font-weight: 600;
}
.das {
  top: 804px;
  left: 1087px;
  font-size: var(--font-size-9xl);
  color: var(--color-cornflowerblue);
}
.div1 {
  top: 366px;
  right: 284px;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
}
.rectngulo6356 {
  position: absolute;
  top: 164px;
  left: 818px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-400);
  width: 50px;
  height: 50px;
}
.group10Icon {
  position: absolute;
  top: 598px;
  left: 743px;
  width: 48px;
  height: 47px;
}
.group11Icon,
.group12Icon,
.group13Icon,
.groupIcon {
  position: absolute;
  top: 675px;
  left: 743px;
  width: 48px;
  height: 48px;
}
.group12Icon,
.group13Icon,
.groupIcon {
  top: 747px;
}
.group13Icon,
.groupIcon {
  top: 821px;
}
.groupIcon {
  top: 678.48px;
  left: 356px;
  width: 329.1px;
  height: 186.5px;
}
.november2023Icon {
  position: absolute;
  top: 640.31px;
  left: 466.46px;
  width: 123.7px;
  height: 12.1px;
}
.rectangleIcon1 {
  position: absolute;
  top: 540px;
  right: 109px;
  width: 392px;
  height: 192px;
}
.rectangleIcon2,
.rectangleIcon3 {
  position: absolute;
  top: 129.5px;
  left: 1141.5px;
  width: 393px;
  height: 179px;
}
.rectangleIcon3 {
  top: 329.79px;
  height: 178.7px;
}
.rectangle2Icon1,
.rectangle2Icon2 {
  position: absolute;
  width: 48px;
  height: 48px;
}
.rectangle2Icon1 {
  top: 572px;
  right: 145px;
}
.rectangle2Icon2 {
  top: 162px;
  left: 1450px;
}
.rectangleIcon4 {
  position: absolute;
  right: 109px;
  bottom: 146px;
  width: 392px;
  height: 192px;
}
.facturacin,
.ltimosCargos,
.noc,
.perfilDeUsuario {
  position: absolute;
  top: 563px;
  left: 1442px;
  font-size: var(--font-size-xl);
}
.facturacin,
.ltimosCargos,
.noc {
  top: 153px;
  left: 1165px;
}
.facturacin,
.ltimosCargos {
  top: 353px;
}
.ltimosCargos {
  top: 767px;
  left: 1442px;
}
.informacinDeContcto,
.informacinDeContcto1,
.juanHernandez {
  position: absolute;
  top: 596px;
  left: 1442px;
  color: var(--color-cornflowerblue);
}
.informacinDeContcto,
.informacinDeContcto1 {
  top: 186px;
  left: 1166px;
}
.informacinDeContcto1 {
  top: 386px;
}
.f00100001753,
.facturaN {
  position: absolute;
  top: 810px;
}
.facturaN {
  left: 1443px;
}
.f00100001753 {
  right: 173px;
  color: var(--color-cornflowerblue);
}
.emisin,
.monto {
  position: absolute;
  left: 1443px;
}
.monto {
  top: 845px;
}
.emisin {
  bottom: 180px;
}
.div2,
.div3 {
  position: absolute;
  color: var(--color-cornflowerblue);
}
.div2 {
  top: 845px;
  right: 209px;
}
.div3 {
  right: 202px;
  bottom: 180px;
}
.examplepitnet {
  position: absolute;
  top: 626px;
  left: 1443px;
}
.div4,
.examplepitnet1,
.examplepitnet2 {
  position: absolute;
  top: 216px;
  left: 1166px;
}
.div4,
.examplepitnet2 {
  top: 416px;
}
.div4 {
  top: 656px;
  left: 1443px;
}
.div5,
.div6,
.notificacin {
  position: absolute;
  top: 246px;
  left: 1166px;
}
.div6,
.notificacin {
  top: 446px;
}
.notificacin {
  top: 715px;
  left: 1089px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.evitaCortesEn,
.tuFacturaTieneContainer {
  position: absolute;
  left: 1089px;
  color: var(--color-gray-100);
}
.tuFacturaTieneContainer {
  top: 754px;
  font-size: var(--font-size-base);
  line-height: 22px;
}
.evitaCortesEn {
  top: 850px;
}
.trazado29744Icon {
  position: absolute;
  top: 356.24px;
  left: 332px;
  width: 12.9px;
  height: 12.5px;
}
.irAEstado,
.verDetalle {
  position: absolute;
  top: 373px;
  left: 352px;
  font-size: var(--font-size-xs);
  color: var(--color-cornflowerblue);
  cursor: pointer;
}
.irAEstado {
  top: 390px;
  left: 818px;
}
.rectngulo301,
.trazado29746Icon {
  position: absolute;
  top: 179px;
  right: 311px;
  width: 16px;
  height: 21px;
}
.rectngulo301 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.03);
  background-color: var(--color-white);
  height: 100px;
}
.componente2225,
.componente2226 {
  position: absolute;
  top: 28px;
  right: 255px;
  width: 45px;
  height: 45px;
}
.componente2226 {
  right: 185px;
}
.perIx {
  font-weight: 600;
}
.empresaPerIxContainer {
  position: absolute;
  top: 41px;
  left: 35px;
  font-size: var(--font-size-base);
  line-height: 22px;
}
.chevronRightIcon2 {
  position: absolute;
  top: 50.36px;
  left: 173.64px;
  width: 12px;
  height: 7.3px;
}
.rectngulo17Icon,
.rectngulo6350 {
  position: absolute;
  border-radius: var(--br-11xs);
}
.rectngulo6350 {
  height: calc(100% - 106.7px);
  width: calc(100% - 99px);
  top: 0;
  right: 99px;
  bottom: 106.7px;
  left: 0;
  background-color: var(--color-aliceblue-100);
  opacity: 0;
}
.rectngulo17Icon {
  height: calc(100% - 119.7px);
  width: calc(100% - 112px);
  top: 7px;
  right: 105px;
  bottom: 112.7px;
  left: 7px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectngulo6351 {
  position: absolute;
  height: calc(100% - 51.7px);
  width: calc(100% - 7px);
  top: 51.7px;
  right: 0;
  bottom: 0;
  left: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  opacity: 0;
}
.espaol,
.ingles {
  position: absolute;
  top: calc(50% - 2.85px);
  left: calc(50% - 14.5px);
  opacity: 0;
}
.espaol {
  top: calc(50% + 37.85px);
  left: calc(50% - 16px);
  color: var(--color-lightslategray-100);
}
.elipse369Icon,
.elipse370Icon {
  position: absolute;
  top: calc(50% - 2.85px);
  left: 23px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0;
}
.elipse370Icon {
  top: calc(50% + 37.15px);
}
.grupo37690 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.componente2227 {
  position: absolute;
  top: 27px;
  right: 227px;
  width: 144px;
  height: 151.7px;
  color: var(--color-steelblue-100);
}
.grupo37691Icon {
  position: absolute;
  top: 0;
  right: 3px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.juanHernandez1 {
  position: absolute;
  top: 28.3px;
  left: calc(50% - 64.5px);
  font-size: var(--font-size-base);
  font-weight: 600;
}
.supervisor {
  position: absolute;
  top: calc(50% - 56.7px);
  left: calc(50% - 63.5px);
  line-height: 22px;
  font-weight: 300;
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 75px;
  height: 20px;
}
.cerrarSesin,
.informacinDePerfil {
  position: absolute;
  left: calc(50% - 91px);
}
.informacinDePerfil {
  top: calc(50% - 5px);
  color: var(--color-lightslategray-100);
  cursor: pointer;
}
.cerrarSesin {
  bottom: 30px;
  font-weight: 600;
  color: var(--color-steelblue-100);
}
.lnea1 {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% + 38.8px);
  right: 0;
  left: -1px;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  height: 2px;
}
.grupo37692Icon {
  position: absolute;
  top: 22.3px;
  left: 26px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.logOutIcon,
.userIcon {
  position: absolute;
  height: 20px;
}
.userIcon {
  top: calc(50% - 7.7px);
  left: 29px;
  width: 16px;
}
.logOutIcon {
  bottom: 27.7px;
  left: 27px;
  width: 20px;
}
.grupo37693 {
  position: absolute;
  height: calc(100% - 59.7px);
  width: 100%;
  top: 59.7px;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  opacity: 0;
}
.componente239 {
  position: absolute;
  height: calc(100% - 24px);
  top: 24px;
  right: 101px;
  bottom: 0;
  width: 302px;
  color: var(--color-dimgray-200);
}
.grupo37821 {
  position: absolute;
  top: -2px;
  right: 0;
  width: 1621px;
  height: 297.7px;
  color: var(--color-cornflowerblue);
}
.trazado29747Icon {
  position: absolute;
  top: 180px;
  left: 833px;
  width: 20px;
  height: 18px;
}
.visualizaElDesgloseContainer {
  position: absolute;
  top: 333px;
  left: 818px;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-gray-100);
}
.rectngulo6420 {
  position: absolute;
  top: 573px;
  left: 1089px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
}
.trazado29748Icon {
  position: absolute;
  top: 588.7px;
  left: 1105px;
  width: 18.7px;
  height: 18px;
}
.dashboard {
  position: relative;
  background-color: var(--color-aliceblue-300);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
  font-family: var(--font-open-sans);
}
