.verificacinEnDos {
  position: absolute;
  top: 210px;
  left: 1212px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-dimgray-200);
}
.protegeTuCuenta {
  position: absolute;
  top: 244px;
  left: 1212px;
  color: var(--color-dimgray-100);
}
.usaLosCdigos {
  margin: 0;
}
.usaLosCdigosContainer {
  position: absolute;
  top: 333px;
  right: 225px;
  line-height: 22px;
  color: var(--color-dimgray-100);
}
.desactivar {
  top: calc(50% - 11px);
  left: calc(50% - 41.82px);
  font-weight: 600;
}
.desactivar,
.grupo9,
.lnea54 {
  position: absolute;
}
.grupo9 {
  top: 435px;
  left: 1212px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  background-color: var(--color-crimson-100);
  width: 136px;
  height: 48px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.lnea54 {
  top: 307px;
  right: 156px;
  border-top: 1px solid var(--color-aliceblue-400);
  box-sizing: border-box;
  width: 553px;
  height: 2px;
}
.rectngulo6320 {
  position: absolute;
  top: 206px;
  right: 148px;
  border-radius: 25px;
  background-color: #33e692;
  width: 146px;
  height: 51px;
}
.activado {
  position: absolute;
  top: 218px;
  right: 183px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-white);
}
.perfilDeUsuario5Child,
.rectangle2Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 299px;
  height: 1462px;
}
.perfilDeUsuario5Child {
  left: 298px;
  background-color: var(--color-gainsboro);
  width: 1px;
  height: 1080px;
}
.logoPlaceholder3RemovebgPrIcon {
  position: absolute;
  top: 12px;
  left: -6px;
  width: 169px;
  height: 118px;
  object-fit: cover;
}
.cuenta,
.dashboard,
.usuarios {
  position: absolute;
  left: calc(50% - 60.65px);
}
.dashboard {
  top: calc(50% - 106.65px);
  cursor: pointer;
}
.cuenta,
.usuarios {
  top: calc(50% - 35.65px);
}
.usuarios {
  top: calc(50% + 35.35px);
}
.listadoDeUsuarios {
  bottom: 0;
  left: calc(50% - 60.65px);
  font-size: var(--font-size-sm);
  opacity: 0;
}
.listadoDeUsuarios,
.listadoDeUsuarios1,
.menu {
  position: absolute;
  color: var(--color-white);
}
.listadoDeUsuarios1 {
  top: calc(50% + 24.35px);
  left: calc(50% - 60.65px);
  font-size: var(--font-size-sm);
  opacity: 0;
}
.menu {
  top: 0;
  left: 0;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.chevronRightIcon,
.chevronRightIcon1 {
  position: absolute;
  top: calc(50% + 41.65px);
  right: 0;
  width: 7.3px;
  height: 12px;
}
.chevronRightIcon1 {
  top: calc(50% - 29.35px);
}
.rectngulo6345 {
  top: -2px;
  left: -2px;
  height: 11px;
}
.rectngulo6345,
.rectngulo6346,
.rectngulo6347,
.rectngulo6348 {
  position: absolute;
  border-radius: var(--br-12xs);
  border: 2px solid var(--color-lightslategray-100);
  box-sizing: border-box;
  width: 9px;
}
.rectngulo6346 {
  top: -2px;
  right: 0;
  height: 7px;
}
.rectngulo6347,
.rectngulo6348 {
  bottom: 0;
}
.rectngulo6347 {
  right: 0;
  height: 11px;
}
.rectngulo6348 {
  left: -2px;
  height: 7px;
}
.layoutDashboard,
.walletIcon {
  position: absolute;
  top: calc(50% - 104.35px);
  left: 13px;
  width: 18px;
  height: 18px;
}
.walletIcon {
  top: calc(50% - 32.35px);
  width: 21px;
  height: 20px;
}
.trazado2499Icon {
  position: absolute;
  width: calc(100% - 4px);
  right: 2px;
  bottom: -1px;
  left: 2px;
  max-width: 100%;
  overflow: hidden;
  height: 8px;
}
.elipse366Icon {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 5px);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.squareUserRound {
  position: absolute;
  top: calc(50% + 34.65px);
  left: 11px;
  border-radius: var(--br-11xs);
  border: 2px solid var(--color-lightslategray-100);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.ovalIcon,
.ovalIcon1 {
  position: absolute;
  left: 19px;
  width: 4px;
  height: 4px;
  opacity: 0;
}
.ovalIcon {
  bottom: 5.7px;
}
.ovalIcon1 {
  top: calc(50% + 33.65px);
}
.componente198 {
  position: absolute;
  top: 144px;
  left: 23px;
  width: 227.3px;
  height: 322.7px;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray-100);
}
.rectngulo301 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.03);
  background-color: var(--color-white);
  height: 100px;
}
.componente2222,
.componente2223 {
  position: absolute;
  top: 28px;
  right: 255px;
  width: 45px;
  height: 45px;
}
.componente2223 {
  right: 185px;
}
.empresaPerIx {
  position: absolute;
  top: 43px;
  left: 35px;
}
.chevronRightIcon2 {
  position: absolute;
  top: 50.36px;
  left: 163.64px;
  width: 12px;
  height: 7.3px;
}
.grupo37691Icon {
  position: absolute;
  top: 0;
  right: 3px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.juanHernandez {
  position: absolute;
  top: 28.3px;
  left: calc(50% - 64.5px);
  font-size: var(--font-size-base);
  font-weight: 600;
}
.supervisor {
  position: absolute;
  top: calc(50% - 56.7px);
  left: calc(50% - 63.5px);
  line-height: 22px;
  font-weight: 300;
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 75px;
  height: 20px;
}
.cerrarSesin,
.informacinDePerfil {
  position: absolute;
  left: calc(50% - 91px);
}
.informacinDePerfil {
  top: calc(50% - 5px);
  color: var(--color-lightslategray-100);
  cursor: pointer;
}
.cerrarSesin {
  bottom: 30px;
  font-weight: 600;
  color: var(--color-steelblue-100);
}
.lnea1 {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% + 38.8px);
  right: 0;
  left: -1px;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  height: 2px;
}
.grupo37692Icon {
  position: absolute;
  top: 22.3px;
  left: 26px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.logOutIcon,
.userIcon {
  position: absolute;
  height: 20px;
}
.userIcon {
  top: calc(50% - 7.7px);
  left: 29px;
  width: 16px;
}
.logOutIcon {
  bottom: 27.7px;
  left: 27px;
  width: 20px;
}
.grupo37693 {
  position: absolute;
  height: calc(100% - 59.7px);
  width: 100%;
  top: 59.7px;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  opacity: 0;
}
.componente238 {
  position: absolute;
  height: calc(100% - 24px);
  top: 24px;
  right: 101px;
  bottom: 0;
  width: 302px;
  color: var(--color-dimgray-200);
}
.rectngulo17Icon,
.rectngulo6350 {
  position: absolute;
  border-radius: var(--br-11xs);
}
.rectngulo6350 {
  height: calc(100% - 106.7px);
  width: calc(100% - 99px);
  top: 0;
  right: 99px;
  bottom: 106.7px;
  left: 0;
  background-color: var(--color-aliceblue-100);
  opacity: 0;
}
.rectngulo17Icon {
  height: calc(100% - 119.7px);
  width: calc(100% - 112px);
  top: 7px;
  right: 105px;
  bottom: 112.7px;
  left: 7px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectngulo6351 {
  position: absolute;
  height: calc(100% - 51.7px);
  width: calc(100% - 7px);
  top: 51.7px;
  right: 0;
  bottom: 0;
  left: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  opacity: 0;
}
.espaol,
.ingles {
  position: absolute;
  top: calc(50% - 2.85px);
  left: calc(50% - 14.5px);
  opacity: 0;
}
.espaol {
  top: calc(50% + 37.85px);
  left: calc(50% - 16px);
  color: var(--color-lightslategray-100);
}
.elipse369Icon,
.elipse370Icon {
  position: absolute;
  top: calc(50% - 2.85px);
  left: 23px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0;
}
.elipse370Icon {
  top: calc(50% + 37.15px);
}
.grupo37690 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.componente2224,
.grupo37694 {
  position: absolute;
  top: 27px;
  right: 227px;
  width: 144px;
  height: 151.7px;
  color: var(--color-steelblue-100);
}
.grupo37694 {
  top: -2px;
  right: 0;
  width: 1621px;
  height: 297.7px;
  color: var(--color-cornflowerblue);
}
.informacinDePerfil1 {
  position: absolute;
  top: 144px;
  left: 332px;
  font-size: var(--font-size-21xl);
  color: var(--color-dimgray-200);
}
.reviseYActualice {
  position: absolute;
  top: 219px;
  left: 332px;
  font-size: var(--font-size-lg);
}
.asegreseDeQueContainer {
  position: absolute;
  top: 254px;
  left: 332px;
  line-height: 22px;
  color: var(--color-dimgray-100);
}
.trminosYCondiciones {
  position: absolute;
  top: 325px;
  left: 346px;
  color: var(--color-cornflowerblue);
}
.chevronRightIcon3,
.rectngulo296 {
  position: absolute;
  top: 328px;
  left: 332px;
  width: 7.3px;
  height: 12px;
}
.rectngulo296 {
  top: 376px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 712px;
  height: 585px;
}
.salvadorBertenbreiter {
  position: absolute;
  top: 413px;
  left: 480px;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.rectngulo297 {
  position: absolute;
  bottom: 42px;
  left: 332px;
  border-radius: 0 0 var(--br-9xs) var(--br-9xs);
  background-color: var(--color-whitesmoke-200);
  width: 712px;
  height: 588px;
}
.cargo,
.nombreCompleto {
  position: absolute;
  top: 553px;
  left: 372px;
  font-weight: 600;
}
.cargo {
  top: 749px;
}
.rectngulo298,
.rectngulo311 {
  position: absolute;
  top: 582px;
  left: 372px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 290px;
  height: 48px;
}
.rectngulo311 {
  top: 778px;
}
.actualizar {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 38px);
  font-weight: 600;
}
.grupo3,
.rectngulo300 {
  position: absolute;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  height: 48px;
}
.grupo3 {
  bottom: 81px;
  left: 846px;
  background-color: var(--color-cornflowerblue);
  width: 136px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.rectngulo300 {
  top: 679px;
  left: 372px;
  background-color: var(--color-aliceblue-400);
  width: 290px;
}
.gerenteGeneral,
.salvadorBertenbreiter1 {
  left: 386px;
  color: var(--color-lightslategray-200);
}
.salvadorBertenbreiter1 {
  position: absolute;
  top: 597px;
}
.gerenteGeneral {
  top: 793px;
}
.gerenteGeneral,
.pais,
.peru {
  position: absolute;
}
.peru {
  top: 694px;
  left: 386px;
  color: var(--color-lightslategray-200);
}
.pais {
  top: 650px;
  left: 372px;
  font-weight: 600;
}
.rectngulo3011 {
  position: absolute;
  top: 582px;
  left: 692px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 290px;
  height: 48px;
}
.examplepitnet {
  position: absolute;
  top: 597px;
  left: 706px;
  color: var(--color-lightslategray-200);
}
.correoElectronico {
  position: absolute;
  top: 553px;
  left: 692px;
  font-weight: 600;
}
.rectngulo302 {
  position: absolute;
  bottom: 178px;
  left: 372px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 290px;
  height: 48px;
}
.div {
  position: absolute;
  bottom: 192px;
  left: 386px;
  color: var(--color-lightslategray-200);
}
.contraseaActual,
.olvid {
  position: absolute;
  font-weight: 600;
}
.olvid {
  top: 897px;
  left: 607px;
  font-size: var(--font-size-xs);
  color: var(--color-cornflowerblue);
}
.contraseaActual {
  top: 896px;
  left: 372px;
}
.rectngulo303 {
  position: absolute;
  bottom: 178px;
  left: 688px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 294px;
  height: 48px;
}
.nuevaContrasea {
  position: absolute;
  bottom: 192px;
  left: 702px;
  color: var(--color-lightslategray-200);
  opacity: 0.4;
}
.nuevaContrasea1 {
  position: absolute;
  top: 896px;
  left: 688px;
  font-weight: 600;
}
.asegreseDeQueContainer1 {
  position: absolute;
  top: 447px;
  left: 480px;
  line-height: 21px;
  color: var(--color-dimgray-100);
}
.rectngulo304,
.rectngulo305 {
  position: absolute;
  top: 679px;
  left: 692px;
  height: 48px;
}
.rectngulo305 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 290px;
}
.rectngulo304 {
  border-radius: var(--br-9xs) 0 0 var(--br-9xs);
  background-color: var(--color-aliceblue-400);
  width: 83px;
  opacity: 0.4;
}
.div1 {
  position: absolute;
  top: 694px;
  left: 736px;
  color: var(--color-lightslategray-200);
}
.imagen4Icon {
  top: 697px;
  left: 706px;
  width: 20px;
  height: 13.4px;
  object-fit: cover;
}
.div2,
.imagen4Icon,
.lnea47 {
  position: absolute;
}
.lnea47 {
  top: 678px;
  left: 774px;
  border-right: 1px solid var(--color-aliceblue-500);
  box-sizing: border-box;
  width: 2px;
  height: 49px;
}
.div2 {
  top: 694px;
  left: 789px;
  color: var(--color-lightslategray-200);
  opacity: 0.4;
}
.chevronRightIcon4,
.lnea48 {
  position: absolute;
  top: 700.36px;
  left: 633.64px;
  width: 12px;
  height: 7.3px;
}
.lnea48 {
  top: 678px;
  left: 619px;
  border-right: 1px solid var(--color-aliceblue-500);
  box-sizing: border-box;
  width: 2px;
  height: 49px;
}
.lnea49Icon {
  position: absolute;
  top: 865.5px;
  left: 331.5px;
  width: 712px;
  height: 3px;
}
.enmascararGrupo3,
.grupo2Icon {
  position: absolute;
  top: 411px;
  left: 372px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.enmascararGrupo3 {
  top: 462px;
  left: 420px;
  width: 38px;
  height: 38px;
}
.seguridad {
  position: absolute;
  top: 144px;
  left: 1268px;
  font-size: var(--font-size-9xl);
  color: var(--color-dimgray-200);
}
.rectngulo6315 {
  position: absolute;
  top: 147px;
  left: 1212px;
  border-radius: var(--br-10xs);
  background-color: var(--color-white);
  width: 35px;
  height: 35px;
}
.lockStarLineIcon {
  position: absolute;
  top: 153.43px;
  left: 1219.61px;
  width: 19.8px;
  height: 22.1px;
}
.perfilDeUsuario5 {
  position: relative;
  background-color: var(--color-aliceblue-200);
  width: 100%;
  height: 1151px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-open-sans);
}
