.usuarios {
  position: absolute;
  top: 130px;
  left: 332px;
  font-size: var(--font-size-9xl);
  color: var(--color-dimgray-200);
}
.usarios {
  position: absolute;
  top: 0;
  left: 0;
}
.listadoDeUsuarios {
  position: absolute;
  top: 0;
  right: -1px;
}
.chevronRightIcon {
  position: absolute;
  bottom: 2px;
  left: calc(50% - 42.5px);
  width: 7.3px;
  height: 12px;
}
.grupo4 {
  position: absolute;
  top: 140px;
  right: 109px;
  width: 217px;
  height: 19px;
}
.rectangle2Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 299px;
  height: 1462px;
}
.logoPlaceholder3RemovebgPrIcon {
  position: absolute;
  top: 12px;
  left: -6px;
  width: 169px;
  height: 118px;
  object-fit: cover;
}
.rectangleIcon {
  position: absolute;
  width: 100%;
  top: 182px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 49.7px;
}
.dashboard {
  position: absolute;
  top: calc(50% - 84.15px);
  left: calc(50% - 72.12px);
}
.cuenta {
  top: calc(50% - 13.15px);
}
.cuenta,
.listadoDeUsuarios1,
.usuarios1 {
  position: absolute;
  left: calc(50% - 72.12px);
}
.usuarios1 {
  top: calc(50% + 57.85px);
  color: var(--color-steelblue-100);
}
.listadoDeUsuarios1 {
  bottom: 0;
  font-size: var(--font-size-sm);
  color: var(--color-cornflowerblue);
}
.listadoDeUsuarios2,
.menu {
  position: absolute;
  color: var(--color-white);
}
.listadoDeUsuarios2 {
  top: calc(50% + 46.85px);
  left: calc(50% - 72.12px);
  font-size: var(--font-size-sm);
  opacity: 0;
}
.menu {
  top: 0;
  left: 5.83px;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.chevronRightIcon1 {
  position: absolute;
  top: calc(50% + 66.51px);
  right: 26.43px;
  width: 12px;
  height: 7.3px;
}
.chevronRightIcon2 {
  position: absolute;
  top: calc(50% - 6.85px);
  right: 28.77px;
  width: 7.3px;
  height: 12px;
}
.rectngulo6345 {
  top: -2px;
  left: -2px;
  height: 11px;
}
.rectngulo6345,
.rectngulo6346,
.rectngulo6347,
.rectngulo6348 {
  position: absolute;
  border-radius: var(--br-12xs);
  border: 2px solid var(--color-lightslategray-100);
  box-sizing: border-box;
  width: 9px;
}
.rectngulo6346 {
  top: -2px;
  right: 0;
  height: 7px;
}
.rectngulo6347,
.rectngulo6348 {
  bottom: 0;
}
.rectngulo6347 {
  right: 0;
  height: 11px;
}
.rectngulo6348 {
  left: -2px;
  height: 7px;
}
.layoutDashboard,
.walletIcon {
  position: absolute;
  left: 18.83px;
}
.layoutDashboard {
  top: calc(50% - 81.85px);
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.walletIcon {
  top: calc(50% - 9.85px);
  width: 21px;
  height: 20px;
}
.trazado2499Icon {
  position: absolute;
  width: calc(100% - 4px);
  right: 2px;
  bottom: -1px;
  left: 2px;
  max-width: 100%;
  overflow: hidden;
  height: 8px;
}
.elipse366Icon {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 5px);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.squareUserRound {
  position: absolute;
  top: calc(50% + 57.15px);
  left: 16.83px;
  border-radius: var(--br-11xs);
  border: 2px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.ovalIcon,
.ovalIcon1 {
  position: absolute;
  left: 24.83px;
  width: 4px;
  height: 4px;
}
.ovalIcon {
  bottom: 5.7px;
}
.ovalIcon1 {
  top: calc(50% + 56.15px);
  opacity: 0;
}
.componente193 {
  position: absolute;
  top: 144px;
  left: 17.17px;
  width: 261.9px;
  height: 277.7px;
  font-size: var(--font-size-base);
  color: var(--color-lightslategray-100);
}
.rectngulo301 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.03);
  background-color: var(--color-white);
  height: 100px;
}
.componente227,
.componente228 {
  position: absolute;
  top: 28px;
  right: 255px;
  width: 45px;
  height: 45px;
}
.componente228 {
  right: 185px;
}
.empresaPerIx {
  position: absolute;
  top: 43px;
  left: 35px;
}
.chevronRightIcon3 {
  position: absolute;
  top: 50.36px;
  left: 163.64px;
  width: 12px;
  height: 7.3px;
}
.grupo37691Icon {
  position: absolute;
  top: 0;
  right: 3px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.juanHernandez {
  position: absolute;
  top: 28.3px;
  left: calc(50% - 64.5px);
  font-size: var(--font-size-base);
  font-weight: 600;
}
.supervisor {
  position: absolute;
  top: calc(50% - 56.7px);
  left: calc(50% - 63.5px);
  line-height: 22px;
  font-weight: 300;
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 75px;
  height: 20px;
}
.cerrarSesin,
.informacinDePerfil {
  position: absolute;
  left: calc(50% - 91px);
}
.informacinDePerfil {
  top: calc(50% - 5px);
  color: var(--color-lightslategray-100);
  cursor: pointer;
}
.cerrarSesin {
  bottom: 30px;
  font-weight: 600;
  color: var(--color-steelblue-100);
}
.lnea1 {
  position: absolute;
  width: calc(100% + 1px);
  top: calc(50% + 38.8px);
  right: 0;
  left: -1px;
  border-top: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  height: 2px;
}
.grupo37692Icon {
  position: absolute;
  top: 22.3px;
  left: 26px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.logOutIcon,
.userIcon {
  position: absolute;
  height: 20px;
}
.userIcon {
  top: calc(50% - 7.7px);
  left: 29px;
  width: 16px;
}
.logOutIcon {
  bottom: 27.7px;
  left: 27px;
  width: 20px;
}
.grupo37693 {
  position: absolute;
  height: calc(100% - 59.7px);
  width: 100%;
  top: 59.7px;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  opacity: 0;
}
.componente233 {
  position: absolute;
  height: calc(100% - 24px);
  top: 24px;
  right: 101px;
  bottom: 0;
  width: 302px;
  color: var(--color-dimgray-200);
}
.rectngulo17Icon,
.rectngulo6350 {
  position: absolute;
  border-radius: var(--br-11xs);
}
.rectngulo6350 {
  height: calc(100% - 106.7px);
  width: calc(100% - 99px);
  top: 0;
  right: 99px;
  bottom: 106.7px;
  left: 0;
  background-color: var(--color-aliceblue-100);
  opacity: 0;
}
.rectngulo17Icon {
  height: calc(100% - 119.7px);
  width: calc(100% - 112px);
  top: 7px;
  right: 105px;
  bottom: 112.7px;
  left: 7px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectngulo6351 {
  position: absolute;
  height: calc(100% - 51.7px);
  width: calc(100% - 7px);
  top: 51.7px;
  right: 0;
  bottom: 0;
  left: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  opacity: 0;
}
.espaol,
.ingles {
  position: absolute;
  top: calc(50% - 2.85px);
  left: calc(50% - 14.5px);
  opacity: 0;
}
.espaol {
  top: calc(50% + 37.85px);
  left: calc(50% - 16px);
  color: var(--color-lightslategray-100);
}
.elipse369Icon,
.elipse370Icon {
  position: absolute;
  top: calc(50% - 2.85px);
  left: 23px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0;
}
.elipse370Icon {
  top: calc(50% + 37.15px);
}
.grupo37690 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.componente229 {
  position: absolute;
  top: 27px;
  right: 227px;
  width: 144px;
  height: 151.7px;
  color: var(--color-steelblue-100);
}
.grupo37694,
.rectangleIcon1 {
  position: absolute;
  top: -2px;
  right: 0;
  width: 1621px;
  height: 297.7px;
}
.rectangleIcon1 {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectngulo1511,
.rectngulo15111,
.rectngulo6270,
.rectngulo6296,
.rectngulo6301 {
  position: absolute;
  width: 100%;
  top: calc(50% - 281.43px);
  right: 0;
  left: 0;
  background-color: var(--color-white);
  height: 70px;
}
.rectngulo15111,
.rectngulo6270,
.rectngulo6296,
.rectngulo6301 {
  top: calc(50% - 1.43px);
}
.rectngulo15111,
.rectngulo6296,
.rectngulo6301 {
  top: calc(50% + 139.57px);
}
.rectngulo15111,
.rectngulo6301 {
  top: calc(50% + 279.57px);
}
.rectngulo15111 {
  top: calc(50% - 211.43px);
  background-color: var(--color-whitesmoke-100);
}
.rectngulo6269 {
  top: calc(50% + 69.57px);
}
.rectngulo6269,
.rectngulo6295,
.rectngulo6300 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  height: 70px;
}
.rectngulo6295 {
  top: calc(50% + 209.57px);
}
.rectngulo6300 {
  bottom: 119.03px;
}
.rectngulo1510,
.rectngulo15112,
.rectngulo15113 {
  position: absolute;
  width: 100%;
  top: calc(50% - 141.43px);
  right: 0;
  left: 0;
  background-color: var(--color-white);
  height: 70px;
}
.rectngulo1510,
.rectngulo15113 {
  top: calc(50% - 71.43px);
  background-color: var(--color-whitesmoke-100);
}
.rectngulo1510 {
  top: calc(50% - 336.43px);
  background-color: var(--color-aliceblue-300);
  height: 55px;
}
.rectngulo298 {
  position: absolute;
  top: 119.17px;
  left: 33px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 380px;
  height: 48px;
}
.buscarUsuario {
  position: absolute;
  top: 132.17px;
  left: 80px;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray-200);
}
.listadoDeUsuarios3,
.listadoDeUsuarios4 {
  position: absolute;
  top: 36.87px;
  left: 33px;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-200);
}
.listadoDeUsuarios4 {
  top: 78.87px;
  font-size: var(--font-size-sm);
  line-height: 22px;
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 348.8px;
  height: 32px;
}
.searchLine1Icon {
  position: absolute;
  top: 132.86px;
  left: 47.69px;
  width: 20.3px;
  height: 20.3px;
}
.nombreCompleto {
  position: absolute;
  top: calc(50% - 321.43px);
  left: calc(50% - 503.66px);
  line-height: 13px;
  color: var(--color-lightslategray-100);
}
.rol {
  left: calc(50% + 402.04px);
}
.operacin,
.rol,
.telfono {
  position: absolute;
  top: calc(50% - 321.43px);
  line-height: 13px;
  color: var(--color-lightslategray-100);
}
.operacin {
  right: 124.46px;
}
.telfono {
  left: calc(50% - 260.84px);
}
.correoElectrnico {
  top: calc(50% - 321.43px);
  left: calc(50% - 36.96px);
}
.cargo,
.correoElectrnico,
.idUsuario {
  position: absolute;
  line-height: 13px;
  color: var(--color-lightslategray-100);
}
.cargo {
  top: calc(50% - 321.43px);
  left: calc(50% + 185.04px);
}
.idUsuario {
  top: calc(50% - 320.43px);
  left: 43.84px;
}
.tw1500001,
.tw15000011,
.tw15000012,
.tw15000013 {
  position: absolute;
  top: calc(50% - 257.43px);
  left: 44.84px;
  font-size: var(--font-size-sm);
}
.tw15000011,
.tw15000012,
.tw15000013 {
  top: calc(50% + 23.57px);
}
.tw15000012,
.tw15000013 {
  top: calc(50% + 165.57px);
}
.tw15000013 {
  top: calc(50% + 305.57px);
}
.antonioTineo,
.antonioTineo1,
.antonioTineo2,
.carlosCarpio {
  position: absolute;
  top: calc(50% - 254.43px);
  left: calc(50% - 501.83px);
  font-size: var(--font-size-sm);
  color: var(--color-royalblue);
}
.antonioTineo,
.antonioTineo1,
.antonioTineo2 {
  top: calc(50% + 27.57px);
  left: calc(50% - 501.38px);
}
.antonioTineo1,
.antonioTineo2 {
  top: calc(50% + 166.57px);
}
.antonioTineo2 {
  top: calc(50% + 306.57px);
}
.examplegmaillcom,
.finanzas,
.gerenteGeneral {
  position: absolute;
  top: calc(50% - 256.43px);
  left: calc(50% - 37.44px);
}
.finanzas,
.gerenteGeneral {
  left: calc(50% + 184.56px);
}
.finanzas {
  left: calc(50% + 401.56px);
}
.atencinAlCliente,
.examplegmaillcom1,
.finanzas1 {
  position: absolute;
  top: calc(50% + 26.57px);
  left: calc(50% - 37.44px);
}
.atencinAlCliente,
.finanzas1 {
  left: calc(50% + 184.56px);
}
.finanzas1 {
  left: calc(50% + 401.56px);
}
.atencinAlCliente1,
.examplegmaillcom2,
.finanzas2 {
  position: absolute;
  top: calc(50% + 166.57px);
  left: calc(50% - 37.44px);
}
.atencinAlCliente1,
.finanzas2 {
  left: calc(50% + 184.56px);
}
.finanzas2 {
  left: calc(50% + 401.56px);
}
.atencinAlCliente2,
.examplegmaillcom3,
.finanzas3 {
  position: absolute;
  top: calc(50% + 304.57px);
  left: calc(50% - 37.44px);
}
.atencinAlCliente2,
.finanzas3 {
  left: calc(50% + 184.56px);
}
.finanzas3 {
  left: calc(50% + 401.56px);
}
.div,
.div1,
.div2,
.div3 {
  position: absolute;
  top: calc(50% - 254.43px);
  left: calc(50% - 260.84px);
}
.div1,
.div2,
.div3 {
  top: calc(50% + 27.57px);
}
.div2,
.div3 {
  top: calc(50% + 166.57px);
}
.div3 {
  top: calc(50% + 306.57px);
}
.tw15000014,
.tw15000015 {
  position: absolute;
  top: calc(50% - 185.43px);
  left: 44.84px;
  font-size: var(--font-size-sm);
}
.tw15000015 {
  top: calc(50% + 96.57px);
}
.tw15000016 {
  top: calc(50% + 235.57px);
  left: 44.84px;
}
.juanHernandez1,
.tw15000016,
.tw15000017 {
  position: absolute;
  font-size: var(--font-size-sm);
}
.tw15000017 {
  bottom: 144.03px;
  left: 44.84px;
}
.juanHernandez1 {
  top: calc(50% - 185.43px);
  left: calc(50% - 501.25px);
  color: var(--color-royalblue);
}
.carlosLopez {
  top: calc(50% + 96.57px);
}
.carlosLopez,
.carlosLopez1,
.carlosLopez2 {
  position: absolute;
  left: calc(50% - 502.28px);
  font-size: var(--font-size-sm);
  color: var(--color-royalblue);
}
.carlosLopez1 {
  top: calc(50% + 236.57px);
}
.carlosLopez2 {
  bottom: 143.03px;
}
.examplegmaillcom4,
.finanzas4,
.finanzas5 {
  position: absolute;
  top: calc(50% - 186.43px);
  left: calc(50% - 37.44px);
}
.finanzas4,
.finanzas5 {
  left: calc(50% + 184.56px);
}
.finanzas5 {
  left: calc(50% + 401.56px);
}
.atencinAlCliente3,
.examplegmaillcom5,
.finanzas6 {
  position: absolute;
  top: calc(50% + 94.57px);
  left: calc(50% - 37.44px);
}
.atencinAlCliente3,
.finanzas6 {
  left: calc(50% + 184.56px);
}
.finanzas6 {
  left: calc(50% + 401.56px);
}
.atencinAlCliente4,
.examplegmaillcom6,
.finanzas7 {
  position: absolute;
  top: calc(50% + 230.57px);
  left: calc(50% - 37.44px);
}
.atencinAlCliente4,
.finanzas7 {
  left: calc(50% + 184.56px);
}
.finanzas7 {
  left: calc(50% + 401.56px);
}
.atencinAlCliente5,
.examplegmaillcom7,
.finanzas8 {
  position: absolute;
  bottom: 144.03px;
  left: calc(50% - 37.44px);
}
.atencinAlCliente5,
.finanzas8 {
  left: calc(50% + 184.56px);
}
.finanzas8 {
  left: calc(50% + 401.56px);
}
.div4 {
  position: absolute;
  top: calc(50% - 185.43px);
  left: calc(50% - 260.84px);
}
.div5 {
  top: calc(50% + 96.57px);
}
.div5,
.div6,
.div7 {
  position: absolute;
  left: calc(50% - 260.84px);
}
.div6 {
  top: calc(50% + 233.57px);
}
.div7 {
  bottom: 140.03px;
}
.carlaAngola,
.tw15000018 {
  position: absolute;
  font-size: var(--font-size-sm);
}
.tw15000018 {
  top: calc(50% - 114.43px);
  left: 44.84px;
}
.carlaAngola {
  top: calc(50% - 113.43px);
  left: calc(50% - 502.39px);
  color: var(--color-royalblue);
}
.administradora,
.div8,
.examplegmaillcom8,
.finanzas9 {
  position: absolute;
  top: calc(50% - 113.43px);
  left: calc(50% - 37.44px);
}
.administradora,
.div8,
.finanzas9 {
  left: calc(50% + 184.56px);
}
.div8,
.finanzas9 {
  left: calc(50% + 401.56px);
}
.div8 {
  left: calc(50% - 260.84px);
}
.luisArcia,
.tw15000019 {
  position: absolute;
  top: calc(50% - 44.43px);
  font-size: var(--font-size-sm);
}
.tw15000019 {
  left: 44.84px;
}
.luisArcia {
  left: calc(50% - 504.12px);
  color: var(--color-royalblue);
}
.div9,
.examplegmaillcom9,
.finanzas10,
.ventas {
  position: absolute;
  top: calc(50% - 46.43px);
  left: calc(50% - 37.44px);
}
.div9,
.finanzas10,
.ventas {
  left: calc(50% + 184.56px);
}
.div9,
.finanzas10 {
  left: calc(50% + 401.56px);
}
.div9 {
  top: calc(50% - 44.43px);
  left: calc(50% - 260.84px);
}
.componente22,
.componente23 {
  position: absolute;
  top: calc(50% - 189.56px);
  right: 152.16px;
  width: 25px;
  height: 25px;
}
.componente23 {
  top: calc(50% - 119.56px);
}
.componente24,
.componente25,
.componente26,
.componente27 {
  position: absolute;
  top: calc(50% - 50.56px);
  right: 152.16px;
  width: 25px;
  height: 25px;
}
.componente25,
.componente26,
.componente27 {
  top: calc(50% + 19.44px);
}
.componente26,
.componente27 {
  top: calc(50% + 89.44px);
}
.componente27 {
  top: calc(50% + 160.44px);
}
.componente28 {
  top: calc(50% + 228.44px);
}
.componente210,
.componente28,
.componente29 {
  position: absolute;
  right: 152.16px;
  width: 25px;
  height: 25px;
}
.componente29 {
  top: calc(50% + 299.44px);
}
.componente210 {
  bottom: 143.16px;
}
.mostrando10De {
  position: absolute;
  bottom: 33.33px;
  left: 44px;
  font-size: var(--font-size-sm);
  line-height: 22px;
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 229px;
  height: 32px;
}
.nextIcon {
  position: absolute;
  right: 114px;
  bottom: 40.1px;
  width: 280px;
  height: 32.1px;
}
.agregarUsuario {
  position: absolute;
  top: calc(50% - 11px);
  left: 24px;
  font-weight: 600;
  cursor: pointer;
}
.grupo3 {
  position: absolute;
  top: 111.17px;
  right: 111px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  background-color: var(--color-cornflowerblue);
  width: 171px;
  height: 48px;
  color: var(--color-white);
}
.deshabilitar,
.editar,
.visualizar {
  position: absolute;
  left: calc(50% - 40.25px);
}
.visualizar {
  top: calc(50% - 44.88px);
}
.deshabilitar,
.editar {
  bottom: 54.33px;
}
.deshabilitar {
  bottom: 15.33px;
}
.rectngulo307,
.rectngulo308,
.rectngulo6299 {
  position: absolute;
  left: 20.5px;
  border-radius: var(--br-8xs);
  background-color: var(--color-mediumslateblue);
  width: 20px;
  height: 20px;
}
.rectngulo307 {
  top: calc(50% - 44.58px);
}
.rectngulo308,
.rectngulo6299 {
  bottom: 53.03px;
}
.rectngulo6299 {
  bottom: 14.03px;
}
.grupo5 {
  position: absolute;
  height: calc(100% - 36.1px);
  width: 100%;
  top: 36.13px;
  right: 0;
  bottom: -0.03px;
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  opacity: 0;
}
.rectngulo6298 {
  position: absolute;
  top: calc(50% - 83.5px);
  left: 164.5px;
  border-radius: var(--br-10xs);
  background-color: var(--color-cornflowerblue);
  width: 25px;
  height: 25px;
}
.frameIcon {
  position: absolute;
  top: calc(50% - 78px);
  left: calc(50% + 75.25px);
  width: 14px;
  height: 14px;
}
.componente21 {
  position: absolute;
  top: calc(50% - 254.56px);
  right: 152.16px;
  width: 189.5px;
  height: 167px;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray-100);
}
.grupo37727 {
  position: absolute;
  top: 193.83px;
  right: 109px;
  width: 1479px;
  height: 1077.2px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
}
.usuariosGestinDeUsuarios {
  position: relative;
  background-color: var(--color-aliceblue-200);
  width: 100%;
  height: 1313px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-cornflowerblue);
  font-family: var(--font-open-sans);
}
