.cargo,
.idUsuario,
.nombreCompleto {
  position: absolute;
  font-weight: 600;
  color: var(--color-dimgray-200);
}
.idUsuario {
  top: 114px;
  left: 40px;
}
.cargo,
.nombreCompleto {
  left: calc(50% + 12.5px);
}
.nombreCompleto {
  top: 114px;
}
.cargo {
  top: calc(50% - 18.5px);
}
.rectngulo6306,
.rectngulo6310 {
  position: absolute;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  height: 48px;
}
.rectngulo6310 {
  top: calc(50% - 195.5px);
  left: 40px;
  background-color: var(--color-aliceblue-400);
  width: 283px;
}
.rectngulo6306 {
  top: calc(50% + 10.5px);
  right: 41px;
  background-color: var(--color-white);
  width: 290px;
}
.guardar {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 32px);
  font-weight: 600;
}
.grupo6,
.rectngulo6307,
.rectngulo6314 {
  position: absolute;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  height: 48px;
}
.grupo6 {
  right: 37px;
  bottom: 43px;
  background-color: var(--color-cornflowerblue);
  width: 136px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.rectngulo6307,
.rectngulo6314 {
  top: calc(50% - 96.5px);
  left: 40px;
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 290px;
}
.rectngulo6314 {
  top: calc(50% + 151.5px);
}
.tw1500001 {
  position: absolute;
  top: calc(50% - 180.5px);
  left: 54px;
}
.gerenteGeneral {
  position: absolute;
  top: calc(50% + 25.5px);
  left: calc(50% + 26.5px);
}
.finanzas,
.pais,
.peru,
.rol {
  position: absolute;
  top: calc(50% - 81.5px);
  left: 54px;
}
.finanzas,
.pais,
.rol {
  top: calc(50% + 166.5px);
}
.pais,
.rol {
  top: calc(50% - 125.5px);
  left: 40px;
  font-weight: 600;
  color: var(--color-dimgray-200);
}
.rol {
  top: calc(50% + 122.5px);
}
.rectngulo6311,
.rectngulo6312 {
  position: absolute;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 290px;
  height: 48px;
}
.rectngulo6311 {
  top: calc(50% + 10.5px);
  left: 40px;
}
.rectngulo6312 {
  top: calc(50% - 195.5px);
  right: 41px;
}
.examplepitnet {
  position: absolute;
  top: calc(50% + 25.5px);
  left: 54px;
}
.carlosAndrade {
  position: absolute;
  top: calc(50% - 180.5px);
  left: calc(50% + 26.5px);
}
.correoElectronico {
  position: absolute;
  top: calc(50% - 18.5px);
  left: 40px;
  font-weight: 600;
  color: var(--color-dimgray-200);
}
.rectngulo6308,
.rectngulo6309 {
  position: absolute;
  top: calc(50% - 96.5px);
  height: 48px;
}
.rectngulo6308 {
  right: 41px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 290px;
}
.rectngulo6309 {
  left: calc(50% + 12.5px);
  border-radius: var(--br-9xs) 0 0 var(--br-9xs);
  background-color: var(--color-aliceblue-400);
  width: 83px;
  opacity: 0.4;
}
.div,
.imagen7Icon {
  position: absolute;
  top: calc(50% - 81.5px);
  left: calc(50% + 56.5px);
}
.imagen7Icon {
  top: calc(50% - 78.5px);
  left: calc(50% + 26.5px);
  width: 20px;
  height: 13.4px;
  object-fit: cover;
}
.div1 {
  position: absolute;
  top: calc(50% - 81.5px);
  left: calc(50% + 109.5px);
  opacity: 0.4;
}
.chevronRightIcon,
.chevronRightIcon1,
.lnea52,
.lnea53 {
  position: absolute;
  top: calc(50% - 75.14px);
  left: calc(50% - 41.86px);
  width: 12px;
  height: 7.3px;
}
.chevronRightIcon1,
.lnea52,
.lnea53 {
  top: calc(50% + 172.86px);
}
.lnea52,
.lnea53 {
  top: calc(50% - 97.5px);
  left: calc(50% - 56.5px);
  border-right: 1px solid var(--color-aliceblue-500);
  box-sizing: border-box;
  width: 2px;
  height: 49px;
}
.lnea53 {
  top: calc(50% + 150.5px);
}
.lnea50Icon {
  position: absolute;
  width: 100%;
  top: 88.5px;
  right: 0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  height: 2px;
}
.editarUsuario {
  position: absolute;
  top: 32px;
  left: 40px;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-200);
}
.cancelar,
.permisosYAccesos {
  position: absolute;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-cornflowerblue);
}
.cancelar {
  bottom: 56px;
  left: calc(50% + 59.5px);
}
.permisosYAccesos {
  top: calc(50% + 86.5px);
  left: 40px;
  line-height: 22px;
}
.grupo7 {
  position: absolute;
  top: 185px;
  left: 617px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 687px;
  height: 677px;
}
.usuariosGestinDeUsuarios {
  position: relative;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 1074px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray-200);
  font-family: var(--font-open-sans);
}
