.activarAhora,
.verificacinEn2 {
  position: absolute;
  top: calc(50% - 49.5px);
  left: calc(50% - 251px);
}
.activarAhora {
  top: calc(50% + 37.5px);
  color: var(--color-cornflowerblue);
}
.recuerdaRealizarLa {
  font-weight: 300;
}
.fa,
.recuerdaRealizarLa {
  font-family: var(--font-open-sans);
}
.yAgregaUn {
  font-weight: 300;
}
.recuerdaRealizarLaConfigura {
  margin: 0;
}
.proteccinAdicionalA {
  margin: 0;
  font-weight: 300;
}
.recuerdaRealizarLaContainer {
  position: absolute;
  top: calc(50% - 17.5px);
  right: 114px;
  font-size: var(--font-size-base);
  color: #dc363c;
}
.frameCopyIcon {
  position: absolute;
  top: calc(50% - 56.5px);
  right: 36px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.rectngulo6419 {
  position: absolute;
  top: calc(50% - 49.5px);
  left: 50px;
  border-radius: var(--br-3xs);
  background-color: #ffe6e6;
  width: 50px;
  height: 50px;
}
.trazado29749Icon {
  position: absolute;
  top: calc(50% - 33.5px);
  left: 65px;
  width: 20px;
  height: 20px;
}
.grupo37820 {
  position: absolute;
  top: 60px;
  left: 564px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: #fef2f2;
  width: 792px;
  height: 177px;
}
.usuariosGestinDeUsuarios {
  position: relative;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 1074px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-200);
  font-family: var(--font-open-sans);
}
